{% extends "base.html" %}


{% block content %}
    {% for zone in zones %}
        <div class="zone">
            <h2>{{ zone["name"] }} ({{ zone["percent_complete"] }}%)</h2>
            <div class="state">
                {% for state in zone["states"] %}
                    <a class="state_title" href="#">
                        {{ state["name"] }} ({{ state["percent_complete"] }}%)
                    </a>
                    <ul class="lgas">
                        {% for lga in state["lgas"] %}
                            <li>
                                {{ lga["name"] }} ({{ lga["percent_complete"] }})
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

