{% extends "base.html" %}


{% block content %}
    {% for zone in zones %}
        <div class="section_title">
            {{ zone['name'] }}
            <div class="percent_complete">
                {{ zone['percent_complete'] }}%
            </div>
        </div>
        {% for state in zone['states'] %}
            <div class="block_expand">
                <div class="block_title">
                    {{ state['name'] }}
                    <div class="percent_complete">
                        {{ state['percent_complete'] }}%
                    </div>
                </div>
                <table class="deets">
                    <tr>
                        <th class="fifty"></th>
                        <th class="align_right sixteen">Complete</th>
                        <th class="align_right sixteen">Need to Survey</th>
                        <th class="align_right sixteen"></th>
                    </tr>
                    {% for lga in state["lgas"] %}
                        <tr class="lga_row">
                            <td class="fifty">
                                <a href="/{{ lga['id'] }}">{{ lga['name'] }}</a>
                            </td>
                            <td class="align_right sixteen">{{ len(lga['surveyed']) }}</td>
                            <td class="align_right sixteen">{{ len(lga['unsurveyed']) }}</td>
                            <td class="align_right sixteen">{{ lga['percent_complete'] }}%</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

