{% extends "base.html" %}


{% macro render_facility_section(title, facilities) -%}
    <div class="block_expand">
        <div class="block_title">
            {{ title }}
            <div class="percent_complete">
                {{ len(facilities) }}
            </div>
        </div>
        {% if facilities %}
            <table class="deets">
                <tr>
                    <th class="facility_name">Name</th>
                    <th>ID</th>
                </tr>
                {% for fac in facilities %}
                    <tr>
                        <td class="facility_name">{{ fac['name'] }}</td>
                        <td>{{ fac['id'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{%- endmacro %}


{% block content %}
    <div class="section_title">
        <a href="/" class="back">←</a>
        {{ lga['name'] }}
        <div class="percent_complete">
            {{ lga['percent_complete'] }}%
        </div>
    </div>
    {{ render_facility_section('Surveyed Facilities', lga['surveyed']) }}
    {{ render_facility_section('Unsurveyed Facilities', lga['unsurveyed']) }}
    {{ render_facility_section('Newly collected facilities', lga['new_facilities']) }}
    {{ render_facility_section('Facilities with incorrect ID', lga['unknown_facilities']) }}
{% endblock %}

