{% extends "base.html" %}
{% load i18n %}

{% block page_title %}Log In{% endblock %}

{% block account_links %}{% endblock %}

{% block content %}
<div class="row">
	<div class="span12 offset3" style="margin-top:20px">
		<h5>
			Please login with your username and password below.
		</h5>
		<form method="post" action=".">
			<table>
				{{ form.as_table }}
			</table>
			{% csrf_token %}
			<div class="actions">
				<input type="submit" value="{% trans 'Log in' %}" class="btn" />
				<input type="hidden" name="next" value="{{ next }}" />
			</div>
		</form>
		<p>
			<strong>If you have forgotten your password</strong>, there is a simple process to <a href="{% url auth_password_reset %}">reset your password</a>.
		</p>
		<p>
			<strong>If you have forgotten your username</strong>, please email <a href="mailto:{{user_manager_email}}?subject=Forgot%20username">the site manager</a>.
		</p>
		<p>
			<strong>If you do not have an account</strong>, please create an account on the <a href="{% url registration_register %}">NMIS registration page</a>.
		</p>
	</div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript" charset="utf-8">
	
	$('.alert-message').delegate('a.cancel, a.close', 'click', function(evt){
		$('.alert-message').hide();
		evt.preventDefault();
	});
	
</script>
{% endblock %}