{% extends "base.html" %}
{% load i18n %}

{% block page_title %} Successful Logout {% endblock %}

{% block content %}
<div class="row">
	<div class="span12 offset5" style="margin-top:20px">
		<div class="alert-message block-message info">
			<a class="close" href="#">×</a>
			<p>
				<strong>Successful Logout.</strong>
				Thank you for visiting Nigeria MDG Information System. You have
			    now been logged out.
			</p>
			<div class="alert-actions">
				<a class="btn small cancel" href="#">Close</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" charset="utf-8">

	$('.alert-message').delegate('a.cancel, a.close', 'click', function(evt){
		$('.alert-message').hide();
		_.delay(function(){window.location.href = "{% url auth_login %}";}, 1000);
		evt.preventDefault();
	});

</script>
{% endblock %}