
body {
    color: #444;
    font-family: futura;
    font-size: 16px;
    margin: 0;
}

a {
    color: #2179C7;
    text-decoration: none;
}
a:hover {
    color: #2788DE;
}

#content {
    background-color: #f7f7f7;
    max-width: 500px;
    margin: auto;
}

.section_title {
    color: white;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.08rem;
    background: #64A4DC;
    padding: 10px;
}
.section_title .back {
    color: #fff;
    background: rgba(0,0,0,0.1);
    text-decoration: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 6px;
}
.section_title .back:hover {
    background: rgba(0,0,0,0.2);
}


.block_title {
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    background: #eee;
    border-bottom: 1px dotted #ddd;
}
.block_title:hover,
.block_title.active {
    background: #ddd;
}
.block_expand:last-child .block_title {
    border-bottom: none;
}

.percent_complete {
    float: right;
}


.deets {
    display: none;
    width: 100%;
    padding: 10px;
}
.deets a {
    font-size: 18px;
}
.deets td,
.deets th {
    padding: 5px 0;
    border-bottom: 1px dotted #ddd;
    text-align: left;
}
.deets .right_align {
    text-align: right;
}

.deets .tr:hover td {
    background: #ddd;
}

.deets th {
    color: #555;
    font-size: 13px;
    font-weight: 200;
}
.deets .half {
    width: 50%;
}
.deets .large {
    width: 70%;
}
.deets .sixteen {
    width: 16%;
}


.deets {
    display: none;
}

