CONFIG = list(
    AUTHFILE="LOCATION OF AUTHFILE FOR FORMHUB DOWNLOAD"
    BASELINE_EDUCATION="LOCATION OF BASELINE EDUCATION DATA",
    BASELINE_HEALTH="LOCATION OF BASELINE HEALTH DATA",
    BASELINE_ALL_774_LGA="LOCATION OF ALL_774_LGAS DATA",
    MOPUP_DATA_DIR="DIRECTORY FORMHUB MOPUP DATA DOWNLOADS TO",
    OUTPUT_DIR="DIRECTORY THE FINAL OUTPUT WRITES TO"
)

sapply(CONFIG, function(p) {
   if(!file.exists(p)) 
       stop("CONFIG.R contains nonexisitng path:", p)
});
