<h2 class="some-lpadding">MDG Status</h2>
<p class="some-lpadding"><em>Below are data collected from HNLSS, DHS, and other sources.</em></p>
<div id="mdg-table-wrap">
<div class="mdg-tables">
	<table class="mdg-table">
		{% for goal, indicators in mdg_indicators %}
		<tbody>
			<tr>
				<td colspan="5" class="mdg_header">
					{{goal}}
				</td>
			</tr>
			{% for indicator in indicators %}
			<tr>
				<td class="empty"></td>
				{% if indicator.0 %}
				<td>
					{{indicator.0}}
				</td>
				{% else %}
				<td class="empty">
				</td>
				{% endif %}
				<td>
                {{indicator.1}}
                <br>
                <em class='source'>{{indicator.2.source}}</em>
                </td>
                <td class="empty data">
                {% if indicator.2 != None and indicator.2.value != None %}
                    {{indicator.2.value}}
                {% else %}
                    {% if indicator.2 != None %}
                        {{indicator.2}}
                    {% else %}
                        N/A
                    {% endif %}
                {% endif %}
                </td>
			</tr>
			{% endfor %}
		</tbody>
		{% endfor %}
	</table>
</div>
</div>
