	<div class="profile-box">
		<div class="pc-inner">
		<table class="striped">
			<tbody>
            {% for key, value in profile_variables %}
            <tr>
                <td class='key' style="padding: 0px 50px 0px 0px">
                    {{key}}
                </td>
                <td class='value'>
                {% if value == None or value.value == None %}
                    N/A
                {% else %}
                    {{value.value}}
                {% endif %}
                </td>
            </tr>
            {% endfor %}
			</tbody>
		</table>
	</div>
	</div>
	<div id="profile-map">
		Map
	</div>
	<div class="clearfix"></div>
