{% for key, title, indicators, number in facility_indicators %}
<div class="{{key}}" style="border:1px solid #eee;">
	<table class="mdg-table">
		<tbody>
	<tr>
		<td colspan="2" class="mdg_header">
			{{title}}&nbsp;({{number}})
		</td>
	</tr>
			
	{% for indicator in indicators %}
	<tr>
		<td>
			{{indicator.0}}
		</td>
		<td class="data">
            {% if indicator == None or indicator.1 == None %}
                N/A
            {% else %}
                {{indicator.1}}
            {% endif %}
		</td>
	</tr>
	{% endfor %}
		</tbody>
	</table>
	<p class="more-link"><a href="{{key}}">More &raquo;</a></p>
</div>
{% endfor %}