{% extends "base.html" %}
{% block content %}
<div class="new-dashboard" style="padding: 0 40px 20px;">
	<table class="mdg-table" style="width:100%">
		<tbody>
			{% for sector_name, indicators in table_data %}
			<tr>
				<th colspan="2" class="indheader">
					{{sector_name}}
				</th>
				<th class="indheader mdg_header flush-right">
					Current
				</th>
				<th class="indheader mdg_header flush-right target" style="display:none">
					Target
				</th>
			</tr>
			{% for indicator in indicators %}
            {% if indicator|length_is:"1" %}
            <tr>
				<td class="empty-first empty bb"></td>
                <td class="empty indheader mdg_header" >
					{{indicator.0}}
                </td>
            </tr>
            {% else %}
			<tr>
				<td class="empty-first empty bb"></td>
				<td class="indicator-name bb">
					{{indicator.0}}
				</td>
				<td class="indvalue bb">
                    {% if indicator.1 == None %}
                        N/A
                    {% else %}
					    {{indicator.1|safe}}{% if indicator.2 != None %}&nbsp;({{indicator.2|safe}}){% endif %}
                    {% endif %}
				</td>
				<td class="indvalue bb target" style="display:none">
					{{indicator.3|safe}}{% if indicator.4 != None %}&nbsp;({{indicator.4|safe}}){% endif %}
				</td>
			</tr>
            {% endif %}
			{% endfor %}
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}

{% block head  %}
<style type="text/css" media="all">
.flush-right {
	text-align: right;
}
table.mdg-table td.bb {
	border-bottom: 1px solid #eee;
}
table.mdg-table {
	border: 0 none;
}
table.mdg-table td {
	border: 0 none;
}
table.mdg-table th {
	border-width: 0 0 2px 0;
}
.indheader {
	padding: 12px 6px 4px;
	border-bottom: 2px solid #666;
	font-weight: bold;
}
	.content-inner-wrap {
		width: 1100px;
		margin: 10px auto;
	}
	td.empty-first {
		width: 20px;
	}
	td.indvalue {
		text-align: right;
		width: 120px;
	}
	
	/*temporary*/
	table.mdg-table.f {
	    margin: 0 auto;
	}
	table.mdg-table {
	  font-size: 15px;
	  line-height: 17px; }
	  table.mdg-table td {
	    /*border: 1px solid #eeeeee;
	    border-width: 0 0 1px;*/
	    padding: 8px 12px; }
	    table.mdg-table td.data {
	      text-align: center; }
	    table.mdg-table td.subgoal {
	      color: #666666;
	      text-align: right;
	      font-size: 14px; }
	    table.mdg-table td.mdg_header {
	      border: 1px solid #666666;
	      border-width: 0 0 2px 0;
	      font-weight: bold;
	      padding: 12px 6px 4px; }
	    table.mdg-table td.empty {
          border: 0 none; }
	      table.mdg-table td.mdg_header.year {
	        text-align: center; }
	table.line-separated td {
		border: 1px solid #EEE;
		border-width: 0 0 1px;
	}
 /*
	.clearfix {
		clear: both;
	}
	.new-dashboard .header .profile-box, .new-dashboard .header #profile-map {
		float: left;
		width: 48%;
		border: 1px solid blue;
	}
	.tri-blocks div {
		float: left;
		width: 33%;
		position: relative;
	}
	.tri-blocks div table {
		width: 100%;
	}
	.tri-blocks div p.more-link {
		margin: 0;
		text-align: right;
	}
	.mdg-tables table {
		width: 100%;
	}
	*/
</style>
{% endblock %}

{% block js %}
<!--
<script type="text/template" charset="utf-8" id="target-links">
	<p>
		<a href="#" class="t-show">Display Targets</a>
		<a href="#" class="t-hide">Hide Targets</a>
	</p>
</script>
<script type="text/javascript" charset="utf-8">
	// this little module allows you to toggle the targets in the table.
	//  (targets are identified by the selector ".target")
	(function(){
		if($('.new-dashboard').length==0) { console.log(".new-dashboard element does not exist.") }
		var linkDiv = $('<div />').html($('#target-links').html());
		function showTargets() {
			linkDiv.find('a').hide();
			linkDiv.find('a.t-hide').show();
			$('table .target').show();
		}
		function hideTargets() {
			linkDiv.find('a').hide();
			linkDiv.find('a.t-show').show();
			$('table .target').hide();
		}
		linkDiv.find('a').button();
		linkDiv.delegate('a', 'click', function(evt){
			if($(this).hasClass('t-show')) {
				showTargets();
			} else {
				hideTargets();
			}
			evt.preventDefault();
		})
		hideTargets();
		$('.new-dashboard').append(linkDiv);
	})();
</script>
-->
<script type="text/javascript" charset="utf-8">

var lgaId = (function(l){return l==="" ? undefined : l;})("{{lga.unique_slug}}");

if(typeof lgaId !== 'undefined') {
    var menu = $('<ul />', {id: 'menu'})
			.addClass('print-hide-block')
    $('#content').before(menu);
    var lgaTmpLink = $('<a />', {href:'/new_dashboard/'+lgaId, id:'lga-tmp-link'}).text('LGA');
    var facTmpLink = $('<a />', {href:'/~' + lgaId, id:'fac-tmp-link'}).text('Facilities');
    $('<li />').html(lgaTmpLink).appendTo(menu);
    $('<li />').html(facTmpLink).appendTo(menu);
}

</script>
{% endblock %}
