{% extends "base.html" %}
{% block content %}
<div class="new-dashboard">
	<div class="header">
		<div class="profile-box">
			<div class="pc-inner">
			<table class="striped">
				<tbody>
                {% for key, value in profile_variables %}
                <tr>
                    <td class='key' style="padding: 0px 50px 0px 0px">
                        {{key}}
                    </td>
                    <td class='value'>
                    {% if value == None or value.value == None %}
                        N/A
                    {% else %}
                        {{value.value}}
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
				</tbody>
			</table>
		</div>
		</div>
		<div id="profile-map">
			Map
		</div>
		<div class="clearfix"></div>
	</div>
	<hr>
	<h2 class="some-lpadding">LGA Overview</h2>
	<p class="some-lpadding"><em>Below are data from the baseline facility surveys.</em></p>
	<div class="tri-blocks">
		{% for key, title, indicators, number in facility_indicators %}
		<div class="{{key}}" style="border:1px solid #eee;">
			<table class="mdg-table">
				<tbody>
			<tr>
				<td colspan="2" class="mdg_header">
					{{title}}&nbsp;({{number}})
				</td>
			</tr>
					
			{% for indicator in indicators %}
			<tr>
				<td>
					{{indicator.0}}
				</td>
				<td class="data">
                    {% if indicator == None or indicator.1 == None %}
                        N/A
                    {% else %}
                        {{indicator.1}}
                    {% endif %}
				</td>
			</tr>
			{% endfor %}
				</tbody>
			</table>
			<p class="more-link"><a href="{{key}}">More &raquo;</a></p>
		</div>
		{% endfor %}
	</div>
	<div class="clearfix"></div>
	<hr>
	<h2 class="some-lpadding">MDG Status</h2>
	<p class="some-lpadding"><em>Below are data collected from HNLSS, DHS, and other sources.</em></p>
	<div id="mdg-table-wrap">
	<div class="mdg-tables">
		<table class="mdg-table">
			{% for goal, indicators in mdg_indicators %}
			<tbody>
				<tr>
					<td colspan="5" class="mdg_header">
						{{goal}}
					</td>
				</tr>
				{% for indicator in indicators %}
				<tr>
					<td class="empty"></td>
					{% if indicator.0 %}
					<td>
						{{indicator.0}}
					</td>
					{% else %}
					<td class="empty">
					</td>
					{% endif %}
					<td>
                    {{indicator.1}}
                    <br>
                    <em class='source'>{{indicator.2.source}}</em>
                    </td>
                    <td class="empty data">
                    {% if indicator.2 != None and indicator.2.value != None %}
                        {{indicator.2.value}}
                    {% else %}
                        {% if indicator.2 != None %}
                            {{indicator.2}}
                        {% else %}
                            N/A
                        {% endif %}
                    {% endif %}
                    </td>
				</tr>
				{% endfor %}
			</tbody>
			{% endfor %}
		</table>
	</div>
	</div>
</div>

{% endblock %}

{% block head  %}
<style type="text/css" media="all">
	.new-dashboard table.striped, .new-dashboard table.striped td {
		padding: 1px 4px;
		border: none;
	}
	table.mdg-table td {
		border: 0 none;
	}
	.new-dashboard table.striped {
		margin: 0;
	}
	.content-inner-wrap {
		width: 1100px;
		margin: 10px auto;
	}
	.some-lpadding {
		padding-left: 12px;
	}
	.clearfix {
		clear: both;
	}
	.new-dashboard .header .profile-box, .new-dashboard .header #profile-map {
		float: left;
		width: 50%;
		height: 190px;
		background-color: #ddd;
		padding: 0px;
		margin: 2px 0px;
	}
	.new-dashboard .header .pc-inner {
		padding: 10px;
		background-color: #eee;
		height: 170px;
	}
	.new-dashboard .header .pc-inner h2 {
		margin: 0;
	}

	.tri-blocks h2 {
		margin: 4px 0;
		padding: 2px;
	}
	.tri-blocks div {
		height: 480px;
		float: left;
		width: 350px;
		position: relative;
		margin: 0 6px;
	}
	.tri-blocks div table {
		width: 100%;
	}
	.tri-blocks div p.more-link {
		margin: 0;
		text-align: right;
		padding: 10px 40px;
		font-size: larger;
	}
	.tri-blocks table td {
		padding: 2px 12px;
	}
	.mdg-tables table {
		width: 100%;
	}
	
	div#mdg-table-wrap {
	    width: 680px;
	    border: 1px solid #999;
		border: 0 none;
	    padding: 8px 20px;
	    margin: 0 auto;
	    background-color: #fff;
	    border-radius: 6px;
	}
	table.mdg-table.f {
	    margin: 0 auto;
	}
	table.mdg-table {
	  border: 0 none;
	  font-size: 15px;
	  line-height: 17px; }
	  table.mdg-table td {
	    /*border: 1px solid #eeeeee;
	    border-width: 0 0 1px;*/
	    padding: 8px 12px; }
	    table.mdg-table td.data {
			text-align: right; }
	    table.mdg-table td.subgoal {
	      color: #666666;
	      text-align: right;
	      font-size: 14px; }
	    table.mdg-table td.mdg_header, table.mdg-table th.mdg_header {
	      border: 1px solid #666666;
	      border-width: 0 0 2px 0;
	      font-weight: bold;
	      padding: 12px 6px 4px; }
	    table.mdg-table td.empty {
          border: 0 none; }
	      table.mdg-table td.mdg_header.year {
	        text-align: center; }
	table.line-separated td {
		border: 1px solid #EEE;
		border-width: 0 0 1px;
	}
    em.source {
        font-size: smaller;
    }
</style>
{% endblock %}

{% block js %}
<script type="text/javascript" charset="utf-8">

var DisplayMap = (function(){
	var elem, latlng;
	var glatlng, gmap;

	/**
	 * MapBox Google Maps v3 layer type
	 */
	function mbLayer(options) {
	    return new google.maps.ImageMapType({
	        getTileUrl: function(coord, z) {
	        // Y coordinate is flipped in Mapbox, compared to Google
	        // Simplistic predictable hashing
	        return 'http://tilestream.openmangrove.org:8888/1.0.0/'
	            + options.tileset
	            + '/' + z
	            + '/' + coord.x
	            + '/' + Math.abs(coord.y - (Math.pow(2, z) - 1)) + '.png';
	        },
	        name: options.name,
	        alt: options.name,
	        tileSize: new google.maps.Size(256, 256),
	        isPng: true,
	        minZoom: 0,
	        maxZoom: options.maxZoom || 17
	    });
	}

	function startMap() {
		glatlng = new google.maps.LatLng(latlng[1], latlng[0]);
		gmap = new google.maps.Map(elem.get(0), {
			zoom: 9,
			center: glatlng,
			panControl: false,
			zoomControl: true,
			mapTypeControl: false,
			scaleControl: false,
			streetViewControl: false,
			overviewMapControl: true,
			mapTypeId: google.maps.MapTypeId.TERRAIN
		});
		gmap.mapTypes.set('ng_base_map', mbLayer({
			tileset: 'nigeria_base',
			name: 'Nigeria'
		}));

		// Set the default map to world light
		gmap.setMapTypeId('ng_base_map');
	}
	function init(_elem, ll){
		elem = $(_elem);
		latlng = JSON.parse('['+ll+']');
		window.startMap = startMap;
		$('<script />')
			.attr("src", "http://maps.googleapis.com/maps/api/js?sensor=false&callback=startMap")
			.appendTo('body');
	}
	return {
		init: init
	};
})();

DisplayMap.init('#profile-map', "{{lga.latlng_str}}");
var menu = $('<ul />', {id:'menu'});

$('#content').before(menu);
var lgaTmpLink = $('<a />', {href:'/new_dashboard/{{lga.unique_slug}}', id:'lga-tmp-link'}).text('LGA')
var facTmpLink = $('<a />', {href:'/~{{lga.unique_slug}}', id:'fac-tmp-link'}).text('Facilities');

$('<li />').html(lgaTmpLink).appendTo(menu);
$('<li />').html(facTmpLink).appendTo(menu);

</script>
{% endblock %}
