{% extends "base.html" %}
{% block js %}
{% for module in jsmodules %}
<script src="/static/js/src/{{module}}.js" type="text/javascript" charset="utf-8"></script>
{% endfor %}
<script src="/static/js/application.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
	var reqPath = "{{reqpath}}",
		urlRoot = "{{url_root}}",
		stateName = "{{state.name}}",
		state = {
			name: "{{state.name}}",
			slug: "{{state.slug}}"
		},
		lga = {
			name: "{{lga.name}}",
			slug: "{{lga.slug}}"
		},
		lgaName = "{{lga.name}}",
		lgaUniqueSlug = "{{lga.unique_slug}}";
		
		var sectorData = {{sector_data|safe}};
</script>
<script src="/static/js/src/nmis_view.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/src/nmis_facilities.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/src/nmis_summary.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
	$(function(){ dashboard.run(); });
</script>
<script type="text/x-mustache-template" id="indicator-feature">
	<div class="indicator-feature">
		<div class="overlay">
			<h3>
				Indicator: <{name}>
			</h3>
			<p>
				num, <{num}>
			</p>
		</div>
		<div class="embedded">
			<h3>
				Indicator: <{name}>
			</h3>
		</div>
	</div>
</script>
<style type="text/css" media="all">
	ul.submenu {
		position: absolute;
		top: 35px;
		list-style-type: none;
		margin: 0;
		width: 200px;
	}
	div.facility-display-wrap {
		padding: 0 20px;
	}
	td.highlighted, th.highlighted {
		background-color: rgba(0,0,0,0.05);
	}
	h3.bar-title {
		position: absolute;
		left: 0;
		top: 0;
		color: #aaa;
		font-size: 16px;
		margin: 5px 20px;
	}
	div.cwrap {
		padding: 0 20px;
	}
	h1.facilities-content-title {
		color: #444;
		font-size: 22px;
		margin: 5px 0;
	}
	p.facility-sectors-navigation {
		margin: 4px 0;
	}
	div.content {
		background-color: #fafafa;
	}
	div.display-window-content {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: #fefefe;
	}
	div.display-window-wrap {
		position: relative;
	}
/*	body div.size-minimized div.overlay,
		body div.size-middle div.overlay,
		body div.size-full div.embedded {
			display: block;
		} */
	div.embedded, div.overlay {
		display: none;
	}
	div.indicator-feature div.overlay {
		position: absolute;
		height: 140px;
		width: 500px;
		top: -158px;
		background-color: #fff;
		border: 1px solid black;
	}
	div.indicator-feature div.embedded {
		margin: 12px 0 12px;
		border: 1px solid black;
	}
</style>
<style type="text/css" media="screen">
	body div.content {
		overflow: hidden;
		background-color: #fafafa;
	}
</style>
{% endblock %}
{% block content %}
<div id="conditional-content">
	{% for sector, sfile in include_sectors %}
	<div class="lga {{sector}}">
		<div class="display-window-bar breadcrumb">
			<span>
				<a href="#" class="btn">Spacer</a>
			</span>
		</div>
		<div class="cwrap">
			{% if sector == "overview" %}
				{% include 'nmis_overview.html' %}
			{% else %}
				{% include 'nmis_summary.html' %}
			{% endif %}
		</div>
	</div>
	{% endfor %}
</div>
<script type="text/javascript" charset="utf-8">
	document.getElementById('conditional-content').style.display = "none";
</script>
{% endblock %}