<h1>
	LGA Overview
	<small>
		{{lga.name}}, {{state.name}}
	</small>
</h1>
<div class="row">
	<div class="span9">
		<table>
			<tbody>
				{% for name, value in profile_data %}
				<tr>
					<td>
						{{name}}
					</td>
					<td>
						{{value.value}}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="span9">
		<p style="font-style:italic;text-align:center">
			Map
		</p>
	</div>
</div>
<div class="row">
	<div class="span18">
		<h1>
			LGA Overview
		</h1>
		<p style="font-style:italic;">
			Below are data from the baseline facility surveys.
		</p>
	</div>
</div>
<div class="row">
	<div class="span6">
		<hr>
	</div>
	<div class="span6">
		<hr>
	</div>
	<div class="span6">
		<hr>
	</div>
</div>
<div class="row">
	<div class="span18">
		<h1>
			MDG Status
		</h1>
		<p style="font-style:italic;">
			Below are data collected from HNLSS, DHS, and other sources.
		</p>
	</div>
</div>
<div class="row">
	<div class="span18">
		<p style="font-style:italic;">
			MDG table goes here...
		</p>
	</div>
</div>