{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/nmis-view.css" type="text/css" media="all" charset="utf-8">
{% endblock %}
{% block js %}

{% for module in jsmodules %}
<script src="/static/js/src/{{module}}.js" type="text/javascript" charset="utf-8"></script>
{% endfor %}
<script src="/static/js/application.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" charset="utf-8">
	$(function(){
		// a temporary css edit to allow content to scroll...
		$('#conditional-content').css({'overflow':'auto'})
			.height($('.content').height())
	});
	var reqPath = "{{reqpath}}",
		urlRoot = "{{url_root}}",
		stateName = "{{state.name}}",
		state = {
			name: "{{state.name}}",
			slug: "{{state.slug}}"
		},
		lga = {
			name: "{{lga.name}}",
			slug: "{{lga.slug}}"
		},
		lgaName = "{{lga.name}}",
		lgaUniqueSlug = "{{lga.unique_slug}}";
		
		var sectorData = {{sector_data|safe}};
</script>

<!--
nmis_view.js: handles routes and calls functions from nmis_facilities or nmis_summary.
-->
<script src="/static/js/src/nmis_view.js" type="text/javascript" charset="utf-8"></script>

<!--
nmis_facilities.js and nmis_summary.js: sets up the page based on the parameters passed from nmis_view
	Utilizes the modules that have already been loaded into the page.
-->
<script src="/static/js/src/nmis_facilities.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/src/nmis_summary.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
	$(function(){ dashboard.run(); });
</script>
{% endblock %}

{% block css %}
<style type="text/css" media="screen">
	.hover-overlay-wrap {
	    position: relative;
	}
	.hover-overlay {
		position: absolute;
		width: 10px;
		height: 10px;
	}
	.hover-overlay.popover .inner {
		width: 220px;
	}
	.hover-overlay.popover {
		opacity: 1;
	}
	.hover-overlay.popover .arrow {
		border-bottom-color: rgba(0, 0, 0, 0.5);
	}
	.hover-overlay.popover .inner {
		background-color: rgba(0, 0, 0, 0.5);
	}
	.hover-overlay.popover .inner .content {
		padding: 5px;
		height: 90px;
		background-color:rgba(255,255,255,0.8);
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
		-webkit-background-clip:padding-box;
		-moz-background-clip:padding-box;
		background-clip:padding-box;
	}
	.hover-overlay.popover div.photothumb {
		width: 90px;
		height: 90px;
		border-radius: 3px;
		background-color: #eee;
		border: 1px solid #aaa;
		float: left;
		position: relative;
		overflow: hidden;
		margin-right: 4px;
	}
	.hover-overlay.popover div.photothumb img {
		position: absolute;
		top: 50%;
		left: 50%;
	}
</style>
{% endblock %}
<!--
To avoid django/mustache conflicts, I'm using <{x}> instead of double-curly-brackets
-->
<style type="text/css" media="screen">
	body div.content {
		overflow: hidden;
		background-color: #fafafa;
	}
</style>
{% block content %}
<div id="conditional-content">
	<div class="lga overview">
		<div class="display-window-bar breadcrumb">
			<span>
				<a href="#" class="btn">Spacer</a>
			</span>
		</div>
		<div class="cwrap">
			{% include 'nmis_overview.html' %}
		</div>
	</div>
	{% for sector, sector_data, gap_indicators in sectors %}
	<div class="lga {{sector}}">
		<div class="display-window-bar breadcrumb">
			<span>
				<a href="#" class="btn">Spacer</a>
			</span>
		</div>
		<div class="cwrap">
			{% include 'nmis_summary.html' %}
		</div>
	</div>
	{% endfor %}
</div>
<script type="text/javascript" charset="utf-8">
	document.getElementById('conditional-content').style.display = "none";
</script>
<script type="text/x-mustache-template" id="facility-hover">
<div class="popover below fade in hover-overlay" style="display: block; top: <{top}>px; left: <{left}>px;">
	<div class="arrow" style="left:<{arrowLeft}>px"></div>
	<div class="inner">
		<div class="content">
			<p>
				<div class="photothumb"></div>
				<strong><{name}></strong> <em>(<{community}>)</em>
				<br>
				<br>
				<span style="font-size:smaller; line-height:11px">
				Click the icon to view details
				</span>
			</p>
		</div>
	</div>
</div>
</script>
<script type="text/x-mustache-template" id="facility-popup">
	<div class="row" title="<{name}>">
		<div class="row">
		  <div class="span3">
				<ul class="media-grid" style="margin-left:10px">
				  <li>
						<a href="<{image_url}>" target="_BLANK" class="lightbox-or-something">
						  <img src="<{thumbnail_url}>" width="90" height="90">
						</a>
					</li>
				</ul>
			</div>
			<div class="span5">
			  <div class="select-wrap">
				<select>
					<{#sector_data}>
					<option value="<{slug}>"><{name}></option>
					<{/sector_data}>
				</select>
			</div>

			<{#sector_data}>
			<div data-sector-slug="<{slug}>" class="facility-sector-select-box">
				<table>
					<tbody>
						<{#variables}>
						<tr>
							<td>
								<{name}>
							</td>
							<td>
								<{value}>
							</td>
						</tr>
						<{/variables}>
					</tbody>
				</table>
			</div>
			<{/sector_data}>
			</div>
		</div>
	</div>
</script>
<script type="text/x-mustache-template" id="indicator-feature">
	<div class="indicator-feature">
		<div class="overlay-wrap print-hide-block">
			<div class="overlay">
				<div class="row">
					<h3 class="span6 overlay-header">
						<{name}>
					</h3>
					<a href="#x" class="close"><span>[X]</span></a>
				</div>
				<div class="raph-circle">
				</div>
				<div class="raph-text">
					<p class="descrip">
						<{description}>
					</p>
					<div class="raph-legend">
					</div>
				</div>
			</div>
		</div>
		<div class="embedded">
			<div class="row">
				<div class="span12" style="padding-left:12px">
					<h3>
						<small>Selected Indicator:</small> <{name}>
					</h3>
					<p>
						<{description}>
					</p>
				</div>
			</div>
		</div>
	</div>
</script>
{% endblock %}