<div class="display-window-bar breadcrumb">
	<span>
		<a href="#" class="btn">Spacer</a>
	</span>
</div>
<div class="cwrap">
	{% if sector == "overview" %}
	<h1>
		Overview, my friend!
	</h1>
	{% else %}
	<h1>Summary {{sector}}</h1>
	{% endif %}
	<hr>
	<p>
		Lorem Ipsum dolorem sit amet sprite coca cola.
	</p>
	{% if sector == "overview" %}
	<p>
		Overview.
	</p>
	{% else %}
	<p>
		<a href="#" class="url-for" data-url-for='{"mode":"facilities","sector":"{{sector}}"}'>Facilities &raquo; {{sector}}</a>
	</p>
	{% endif %}
	
</div>
