{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/qunit.css" type="text/css" media="all" charset="utf-8">
{% endblock %}
{% block js %}
<script src="/static/js/application.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/libs/qunit.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/src/modes.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
	module("Modes testing", {
		setup: function(){
			Modes.clear();
			Modes.init({
					level: ["lga", "country"],
					sector: ["health", "education"]
				}, {
					preventModes: ["level:lga,sector:overview"]
				});
		}
	});
	test("Simple mode states", function(){
		equal(Modes.modeString(), "level:lga,sector:health");
		Modes.setMode("sector", "education");
		equal(Modes.modeString(), "level:lga,sector:education");
		Modes.setMode("level", "country");
		equal(Modes.modeString(), "level:country,sector:education");
	});
	test("Mode states trigger actions", function(){
		var i = 0;
		equal(Modes.modeString(), "level:lga,sector:health");
		Modes.listen("level:country", function(){
			i++;
		});
		Modes.setMode("level", "country");
		equal(i, 1);
	});
	test("Mode states trigger actions", function(){
		var i = 0;
		equal(Modes.modeString(), "level:lga,sector:health");
		Modes.listen("level:country", function(){
			i++;
		});
		Modes.setMode("level", "country");
		equal(i, 1);
	});
	test("Actions are preventable", function(){
		var oldModeString = "level:lga,sector:health";
		equal(oldModeString, Modes.modeString());
		equal(Modes.modeString(), oldModeString);
		Modes.listen("level:country,sector:health", function(){
			this.stopChange = true;
		});
		Modes.setMode("level", "country");
		equal(Modes.modeString(), oldModeString);
	});
</script>
{% endblock %}
{% block content %}
<div id="map" style="border:1px solid blue;width:256px;height:256px;">
</div>
<h1 id="qunit-header">QUnit Testing of NMIS Map</h1>
<h2 id="qunit-banner"></h2>
<div id="qunit-testrunner-toolbar"></div>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests"></ol>
<div id="qunit-fixture">test markup</div>
{% endblock %}