{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/qunit.css" type="text/css" media="all" charset="utf-8">
{% endblock %}
{% block js %}
<script src="/static/js/application.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/libs/qunit.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/src/sample-data.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
	var data = [];
	var sectors = [], _sectors = ["Agriculture", "Education", "Health", "Water"];
	_.each(_sectors, function(s){
	    sectors.push({
	        name: s,
	        slug: s.toLowerCase()
	    });
	});
	_.times(40, function(i){
	    data.push({
	        sector: sectors[i%4].slug,
	        something: i%3==0
	    });
	});
</script>
{% for module in modules %}
<script src="/static/js/src/{{module}}.js" type="text/javascript" charset="utf-8"></script>
{% endfor %}
<script src="/static/js/src/{{module}}_test.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block content %}
<div class="row">
	<div class="span14 offset2">
		<h1>
			Testing Module: {{module}}
		</h1>
		<h1 id="qunit-header">QUnit Testing of NMIS Map</h1>
		<h2 id="qunit-banner"></h2>
		<div id="qunit-testrunner-toolbar"></div>
		<h2 id="qunit-userAgent"></h2>
		<ol id="qunit-tests"></ol>
		<div id="qunit-fixture">test markup</div>
	</div>
</div>
<script type="text/x-mustache-template" id="facility-popup">
	<div class="row" title="<{name}>">
		<div class="row">
		  <div class="span3">
				<ul class="media-grid" style="margin-left:10px">
				  <li>
						<a href="<{image_url}>" target="_BLANK" class="lightbox-or-something">
						  <img src="<{thumbnail_url}>" width="90" height="90">
						</a>
					</li>
				</ul>
			</div>
			<div class="span5">
			  <div class="select-wrap">
				<select>
					<{#sector_data}>
					<option value="<{slug}>"><{name}></option>
					<{/sector_data}>
				</select>
			</div>

			<{#sector_data}>
			<div data-sector-slug="<{slug}>" class="facility-sector-select-box">
				<table>
					<tbody>
						<{#variables}>
						<tr>
							<td>
								<{name}>
							</td>
							<td>
								<{value}>
							</td>
						</tr>
						<{/variables}>
					</tbody>
				</table>
			</div>
			<{/sector_data}>
			</div>
		</div>
	</div>
</script>
{% endblock %}