body {
  background-color: #000000;
  font-family: Proxima Nova, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: #545754;
  },
p
{
  margin: 0;
  padding: 0;
  font-size: 15px !important; 
  font-weight: normal;
  line-height: 20px !important;
}
h2 {
  font-size: 28px;
  font-weight:normal;
  line-height: 28px;
}

h3 {
  font-size: 18px;
  font-weight:normal;
  line-height: 20px;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
background: #FFF !important;
border-top: 1px solid #ccc !important;
border-right: 0px !important;
border-bottom: 0px !important;
border-left: 0px !important;
font-size: 25px;
font-weight: 500;
color: #545754;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
border-top: 1px solid #ccc !important;
border-right: 0px !important;
border-bottom: 0px !important;
border-left: 0px !important;
}

.ui-widget-content {
  border: 0px !important;
  font-family: Proxima Nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: 545754 !important;
}

.ui-accordion .ui-accordion-content {
padding-top: 0em !important;
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
left: 0em;
top: 43%;
}

.ui-accordion .ui-accordion-icons {
padding-left: 1.55em;
}


/* states and images */
.ui-icon {
  width: 27px !important;
  height: 27px !important;
}
.ui-icon,
.ui-widget-content .ui-icon {
  background-image: url(/static/images/ui-icons.png)/*{iconsContent}*/ !important;
}
.ui-widget-header .ui-icon {
  background-image: url(/static/images/ui-icons.png)/*{iconsHeader}*/ !important;
}
.ui-state-default .ui-icon {
  background-image: url(/static/images/ui-icons.png)/*{iconsDefault}*/ !important;
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
  background-image: url(/static/images/ui-icons.png)/*{iconsHover}*/ !important;
}
.ui-state-active .ui-icon {
  background-image: url(/static/images/ui-icons.png)/*{iconsActive}*/ !important;
}
.ui-state-highlight .ui-icon {
  background-image: url(/static/images/ui-icons.png)/*{iconsHighlight}*/ !important;
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
  background-image: url(/static/images/ui-icons.png)/*{iconsError}*/ !important;
}


.ui-icon-bigplus { background-position: 0px 0px; }
.ui-icon-bigclose { background-position: -37px 0px; }
