body {
  background-color: #FFF;
  font-family: Proxima Nova, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: #545754;
}

a:hover {
  color:#000;
}


p {
  margin: 0;
  padding: 0;
  font-size: 15px; 
  font-weight: normal;
  line-height: 20px;
}

.toptext {
  font-size: 18px;
  line-height: 25px;
}

h2 {
  font-size: 28px;
  font-weight:normal;
  line-height: 28px;
}

h3 {
  font-size: 20px;
  font-weight:normal;
  line-height: 20px;
}

#contentButton {
  margin:0px;
    padding: 30px 0px 30px 0px;
  z-index: 1;
}

.buttonGreen {
  padding: 13px 18px 0px 18px;
  float: left;
  text-align:center;
  width: auto;
  height: 30px;
  background-color:#13964a;
  border-radius: 4px;
  border: 0;
}

.buttontext {
  text-decoration: none;
  font-size: 18px;
  color:#FFF;
}

table, td {
  border: 0px;
  border-collapse: collapse;
  padding: 0px 0px 10px 0px;
}

.firstcol {
  padding-right: 17px;
}


