<!DOCTYPE html>
<html>
<head>
	<title>
	  {{ site_title|default:"Nigeria MDG Information System" }}
	</title>
	{% load compress %}
	<script>
	  NMIS = {};
      NMIS.zones = {{ zones|safe }};
    </script>
	{% block js %}{% endblock %}
	{% compress css %}
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/jquery-ui.custom.css" type="text/css" media="all" charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/css/base.css">
		<link rel="stylesheet" href="/static/css/chosen.css" type="text/css" media="all" charset="utf-8">
	{% endcompress %}
	{% block css %}{% endblock %}
	<script src="/static/js/libs/modernizr.min.js" type="text/javascript" charset="utf-8"></script>
	{% block head %}{% endblock %}
</head>
<body class="nmis home">
	<div class="topbar">
		<div class="fill">
			<div class="container">
				<div class="row">
					<a class="brand" href="/">
						<span class="logo">
							<img src="/static/images/nmis_pilot.png">
						</span>
						Nigeria MDG Information System
					</a>
					<p class="pull-right print-hide-block">
					{% if user.is_authenticated %}
						Logged in as {{user.username}}
							(&nbsp;<a href="{% url auth_logout %}">Log out</a>
                                    | <a href="{% url auth_password_change %}">Change password</a>
                                    | <a href="http://nmis.tenderapp.com/">Help</a>&nbsp;)
					{% else %}
						<a href="{% url auth_login %}">Log in</a>
		                        | <a href="http://nmis.tenderapp.com/">Help</a>
					{% endif %}
					</p>
					<div id="lga_search"></div>
				</div>
				<div class="nav">
					<a class="{% block nav_about %}{% endblock %}" href="/about">About</a>
					<a class="{% block nav_dashboard %}{% endblock %}" href="/dashboard">Explore Facilities</a>
					<a class="{% block nav_download %}{% endblock %}" href="/download">Download Data</a>
					<a class="{% block nav_mdgs %}{% endblock %}" href="/mdgs">MDGs in Nigeria</a>
				</div>
				<div style="clear:both"></div>
			</div>
		</div>
	</div>
	<div id="content" class="container">
		{% block content %}{% endblock %}
	</div>
	{% block footer %}{% endblock %}
</body>
</html>
