<!DOCTYPE html>
<html>
<head>
    {% block title %}
        <title>Nigeria MDG Information System</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/selectize.bootstrap2.css" type="text/css" media="all" charset="utf-8">
    {% block css %}{% endblock %}
    <script src="/static/js/libs/jquery-1.10.2.min.js"></script>
    <script src="/static/js/libs/underscore-min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/selectize.min.js"></script>
    <script>
        $(function(){
            $('#lga_search').selectize({
                onItemAdd: function(value){
                    location.href = '/dashboard#' + value + '/lga_overview';
                    this.clear();
                    return false;
                }  
            });
        });
    </script>
    {% block js %}{% endblock %}
</head>
<body>
    <div class="topbar">
        <div class="container">
            <a class="brand" href="/">
                <span class="logo">
                    <img src="/static/images/nmis_pilot.png">
                </span>
                Nigeria MDG Information System
            </a>
            <select id="lga_search" placeholder="Select LGA">
                <option value="">Select an LGA</option>
                {% for lga_name, unique_lga in lgas %}
                    <option value="{{ unique_lga }}">{{ lga_name }}</option>
                {% endfor %}
            </select>
            <div class="pagenav">
                <a class="{% block nav_about %}{% endblock %}" href="/about">About</a>
                <a class="{% block nav_dashboard %}{% endblock %}" href="/dashboard">Explore Facilities</a>
                <a class="{% block nav_download %}{% endblock %}" href="/download">Download Data</a>
                <a class="{% block nav_mdgs %}{% endblock %}" href="/mdgs">MDGs in Nigeria</a>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="lga_nav"></div>
    </div>
    <div id="content">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% block footer %}{% endblock %}
</body>
</html>



