<!DOCTYPE html>
<html>
<head>
    {% block title %}
        <title>Nigeria MDG Information System</title>
    {% endblock %}
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    {% block css %}{% endblock %}
    <script src="/static/lib.js"></script>
    {% block js %}{% endblock %}
</head>
<body>
    <div id="header">
        <div class="container">
            <a class="logo" href="/">
                <img src="/static/images/logo.png">
                Nigeria MDG Information System
            </a>
            <div id="lga_search"></div>
        </div>
        <div class="global_nav">
            <div class="container">
                <a class="{% block nav_explore %}{% endblock %}" href="/explore">Explore Facilities</a>
                <a class="{% block nav_mdgs %}{% endblock %}" href="/mdgs">MDGs in Nigeria</a>
                <a class="{% block nav_archive %}{% endblock %}" href="/explore?data=baseline">2012 Baseline Data</a>                
                <a class="{% block nav_download %}{% endblock %}" href="/download">Download Data</a>
                <a class="{% block nav_about %}{% endblock %}" href="/about">About</a>
                <div class="clearfix"></div>
            </div>
        </div>
        <div id="explore_header"></div>
    </div>
    <div id="content">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div id="footer">
        <div class="container">
            {% block footer %}{% endblock %}
        </div>
    </div>
</body>
</html>



