{% extends "base.html" %}


{% block head %}
	<link href="/static/leaflet/leaflet.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block js %}
	<script src="/static/js/libs/jquery-1.10.2.min.js"></script>
	<script src="/static/js/libs/underscore-min.js"></script>
	<script src="/static/js/libs/backbone-min.js"></script>
	<script src="/static/js/dashboard2.js"></script>
{% endblock %}


{% block nav_dashboard %}active{% endblock %}


{% block content %}
	<script>
		var ZONES = {{ zones|safe }};
	</script>
	<script id="country_view_template" type="text/template">
		<div id="zone-navigation">
			<div class="page-header">
				<h1>Nigeria</h1>
			</div>
			<div class="zone-nav">
				<% _.each(zones, function(zone){ %>
					<div class="zl-wrap">
						<div class="zone-list">
							<h2 class="zone-title">
								<%= zone[0] %>
							</h2>
							<ul>
								<% _.each(zone[1], function(state){ %>
									<li>
										<a href="#" class="state-link" data-lga-count="3">
											<%= state[0] %>
										</a>
										<ul class="lga-list">
											<% _.each(state[1], function(lga){ %>
												<li>
													<a href="#<%= lga[1] %>">
														<%= lga[0] %>
													</a>
												</li>
											<% }); %>
										</ul>
									</li>
								<% }); %>
							</ul>
						</div>
					</div>
				<% }); %>
				<div class="clearfix"></div>
			</div>
		</div>
	</script>
{% endblock %}


