{% extends "base.html" %}


{% block head %}
    <title>Download Data</title>
{% endblock %}


{% block nav_download %}active{% endblock %}


{% block content %}
    <h2>Download Data</h2>
    <div>
        <div>
            <p class="toptext">
                The NMIS Nigeria Facility Inventory dataset provides atrributes and location information for all 24144 health, 68801 education and 131977 water facilities recorded on NMIS. In this dataset you may find data for all education health and water facilities, as well as aggregated data for each LGAs.
            </p>
        </div>
        <div class="download_data">
            <div id="contentButton">
                <div class="buttonGreen"><a href="/static/data/nmis_data.zip" class="buttontext">Download NMIS Dataset</a></div>
                <div style="clear:both;"></div>
            </div>
            <div>
                <h3>About the Dataset</h3>
                <table>
                    <tr>
                        <td>
                            <strong>File size</strong>
                        </td>
                        <td>27 MB</td>
                    </tr>
                    <tr>
                        <td><strong>File Format</strong></td>
                        <td>Zipped CSVs </td>
                    </tr>
                    <tr>
                        <td><strong>Version</strong></td>
                        <td>1.0</td>
                    </tr>
                    <tr>
                        <td><strong>Created</strong></td>
                        <td>December 02, 2013</td>
                    </tr>
                    <tr>
                        <td class="firstcol"><strong>Last Updated</strong></td>
                        <td>December 02, 2013</td>
                    </tr>
                    <tr>
                        <td><strong>Attribution</strong></td>
                        <td>Data provided by <a href="3">OSSAP</a></td>
                    </tr>
                    <tr>
                        <td><strong>Licensing</strong></td>
                        <td>ODbL</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

