{% extends "base.html" %}


{% block head %}
    <title>Download Data</title>
{% endblock %}


{% set active_page = 'download' %}


{% block content %}
    <h2 class="download_h2">Download Data</h2>
    
    <p class="toptext" style="font-size:18px; margin-bottom:40px;">
        The NMIS Nigeria Facility Inventory dataset provides attributes and location information for over 250,000 health, education and water facilities.
    </p>

    <div class="row">
        <div class="col-md-6">
            <a href="/static/download/nmis_dataset.zip" class="download_btn green_btn">Download NMIS Dataset</a>
            
            <div class="download_about">About the dataset</div>

            <h3 class="download_h3">Nationwide coverage of critical indicators (presented in NMIS)</h3>

            <table class="download_table">
                <tr>
                    <td class="download_table_label">Collected</td>
                    <td>2009-2014</td>
                </tr>
                <tr>
                    <td class="download_table_label">Surveys</td>
                    <td>113, 661, Mopup</td>
                </tr>
                <tr>
                    <td class="download_table_label">File Format</td>
                    <td>JSON/CSV</td>
                </tr>
                <tr>
                    <td class="download_table_label">Version</td>
                    <td>1.0</td>
                </tr>
                <tr>
                    <td class="download_table_label">Created</td>
                    <td>July 10, 2014</td>
                </tr>
                <tr>
                    <td class="download_table_label">Last Updated</td>
                    <td>July 10, 2014</td>
                </tr>
                <tr>
                    <td class="download_table_label">Attribution</td>
                    <td>Data provided by OSSAP</td>
                </tr>
            </table>
        </div>

        <div class="col-md-6">
            <a href="/static/download/nmis_raw_data.zip" class="download_btn green_btn">Download All Raw Data</a>
            
            <div class="download_about">About the dataset</div>

            <h3 class="download_h3">All raw data collected</h3>

            <table class="download_table">
                <tr>
                    <td class="download_table_label">Collected</td>
                    <td>2009-2014</td>
                </tr>
                <tr>
                    <td class="download_table_label">Surveys</td>
                    <td>113, 661, Mopup</td>
                </tr>
                <tr>
                    <td class="download_table_label">File Format</td>
                    <td>CSV</td>
                </tr>
                <tr>
                    <td class="download_table_label">Version</td>
                    <td>1.0</td>
                </tr>
                <tr>
                    <td class="download_table_label">Created</td>
                    <td>July 10, 2014</td>
                </tr>
                <tr>
                    <td class="download_table_label">Last Updated</td>
                    <td>July 10, 2014</td>
                </tr>
                <tr>
                    <td class="download_table_label">Attribution</td>
                    <td>Data provided by OSSAP</td>
                </tr>
            </table>
        </div>
    </div>

    <br>
    <br>
    <br>

    <h2 class="download_h2">Download Surveys</h2>

    <div class="row">
        <div class="col-md-6">
            <a href="/static/download/survey_mopup.zip" class="download_btn green_btn">Download Mopup Survey</a>
            
            <div class="download_about">About the survey</div>

            <table class="download_table">
                <tr>
                    <td class="download_table_label">Collected</td>
                    <td>April—June 2014</td>
                </tr>
                <tr>
                    <td class="download_table_label">File Format</td>
                    <td>XLS</td>
                </tr>
            </table>
        </div>

        <div class="col-md-6">
            <a href="/static/download/survey_661.zip" class="download_btn green_btn">Download 661 Survey</a>
            
            <div class="download_about">About the survey</div>

            <table class="download_table">
                <tr>
                    <td class="download_table_label">Collected</td>
                    <td>October 2011 — November 2012</td>
                </tr>
                <tr>
                    <td class="download_table_label">File Format</td>
                    <td>PDF, XLS</td>
                </tr>
            </table>
        </div>
    </div>

    <br>
    <br>

    <div class="row">
        <div class="col-md-6">
            <a href="/static/download/survey_113.zip" class="download_btn green_btn">Download 113 Survey</a>
            
            <div class="download_about">About the survey</div>

            <table class="download_table">
                <tr>
                    <td class="download_table_label">Collected</td>
                    <td>April—June 2014</td>
                </tr>
                <tr>
                    <td class="download_table_label">File Format</td>
                    <td>DOCX</td>
                </tr>
            </table>
        </div>
    </div>
    
    <a rel="license" href="http://creativecommons.org/licenses/by­sa/4.0/"><img alt="Creative Commons License" style="border­width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">NMIS</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Office of the Senior Special Assistant to the President on Millennium Development Goals (OSSAP­MDGs) or its successor agency</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by­sa/4.0/">Creative Commons Attribution­ShareAlike 4.0 International License</a>.
{% endblock %}

