{% extends "base.html" %}


{% if baseline %}
    {% set active_page = 'baseline' %}
{% else %}
    {% set active_page = 'explore' %}
{% endif %}


{% block js %}
    <script src="/static/explore.js"></script>
    <script>
        NMIS = {};
        NMIS.data_folder = '{{ data_folder }}';
        NMIS.lgas = {};
        NMIS.sorted_lgas = {{ sorted_lgas|safe }};
        NMIS.zones = {{ zones|safe }};
        NMIS.indicators = {{ indicators|safe }};
        NMIS.lga_overview = {{ lga_overview|safe }};
        NMIS.lga_view = {{ lga_view|safe }};
        NMIS.table_view = {{ table_view|safe }};
        NMIS.gap_sheet_view = {{ gap_sheet_view|safe }};
    </script>
{% endblock %}


{% block content %}
    <div class="content"></div>

    <script id="explore_header_template" type="text/html">
        <div class="container">
            <h1>
                <%= lga.lga %>, <%= lga.state %>
            </h1>
            <div class="nav_views">
                <a <% if (active_view === 'lga'){ %>class="active"<% } %>
                    href="#<%= lga.unique_lga %>/lga_<%= sector %>">
                    <span class="glyphicon glyphicon-home"></span>
                    Overview
                </a>
                <a <% if (active_view === 'map'){ %>class="active"<% } %>
                    href="#<%= lga.unique_lga %>/map_<%= sector %>">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    Map
                </a>
                <a <% if (active_view === 'table'){ %>class="active"<% } %>
                    href="#<%= lga.unique_lga %>/table_<%= sector %>">
                    <span class="glyphicon glyphicon-list"></span>
                    Table
                </a>
            </div>
            <div class="nav_sectors">
                <a <% if (sector === 'overview'){ %>class="active"<% } %>
                    href="#<%= lga.unique_lga %>/<%= active_view %>_overview">
                    All Sectors
                </a>
                |
                <a <% if (sector === 'health'){ %>class="active"<% } %>
                    href="#<%= lga.unique_lga %>/<%= active_view %>_health">
                    Health
                </a>
                |
                <a <% if (sector === 'education'){ %>class="active"<% } %>
                    href="#<%= lga.unique_lga %>/<%= active_view %>_education">
                    Education
                </a>
                |
                <a <% if (sector === 'water'){ %>class="active"<% } %>
                    href="#<%= lga.unique_lga %>/<%= active_view %>_water">
                    Water
                </a>
            </div>
        </div>
    </script>

    <script id="lga_search_template" type="text/html">
        <select placeholder="Select an LGA">
            <option value="">Select an LGA</option>
            <% _.each(sorted_lgas, function(lga){ %>
                <option value="<%= lga[1] %>"><%= lga[0] %></option>
            <% }); %>
        </select>
    </script>

    <script id="index_template" type="text/html">
        <h1 class="explore_title">Explore an LGA from the regions below</h1>
        {% if baseline %}
            <a class="explore_info" href="/explore?baseline=1">or browse current data</a>
        {% else %}
            <a class="explore_info" href="/explore">or browse 2012 data</a>
        {% endif %}

        <div id="zone_nav">
            <% _.each(zones, function(zone, i){ %>
                <div class="zone <% if (i == 5){ %>last<% } %>">
                    <img src="/static/images/zones/<%= zone[0] %>.png">
                    <h2><%= zone[0] %></h2>
                    <div class="state">
                        <% _.each(zone[1], function(state){ %>
                            <a class="state_title" href="#">
                                <%= state[0] %>
                            </a>
                            <div class="lgas">
                                <% _.each(state[1], function(lga){ %>
                                    <a href="#<%= lga[1] %>/lga_overview">
                                        » <%= lga[0] %>
                                    </a>
                                <% }); %>
                            </div>
                        <% }); %>
                    </div>
                </div>
            <% }); %>
            <div style="clear:both"></div>
        </div>
    </script>

    <script id="lga_overview_template" type="text/html">
        <div class="lga_profile">
            <div class="map"></div>
            <table>
                <% _.each(lga_overview.overview, function(indicator){ %>
                    <tr>
                        <td class="name">
                            <%= indicator_name(indicator) %>
                        </td>
                        <td class="value">
                            <%= format_value(lga[indicator]) %>
                        </td>
                    </tr>
                <% }); %>
            </table>
            <div style="clear:both"></div>
        </div>

        <h2>Sectors</h2>
        
        <em>
            Below are data from the baseline facility surveys.
        </em>
        
        <% _.each(lga_overview.facility_overview, function(category, i){ %>
            <div class="sector n<%- i %>">
                <h3>
                    <%= category.name %>
                </h3>
                <table>
                    <tbody>
                        <% _.each(category.indicators, function(indicator){ %>
                            <tr>
                                <td class="name">
                                    <%= indicator_name(indicator) %>
                                </td>
                                <td class="value">
                                    <%= format_value(lga[indicator]) %>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        <% }); %>
        <div style="clear:both"></div>

        <h2>MDG Status</h2>

        <em>
            Below are data collected from HNLSS, DHS, and other sources.
        </em>

        <% _.each(lga_overview.mdg_status, function(mdg){ %>        
            <h3>
                <%= mdg.header %>
            </h3>
            <table class="mdgs_table">
                <% _.each(mdg.indicators, function(indicator){ %>
                    <tr>
                        <td class="name">
                            <%= indicator_name(indicator) %>
                        </td>
                        <td class="value">
                            <%= format_value(lga[indicator]) %>
                        </td>
                    </tr>
                <% }); %>
            </table>
        <% }); %>
    </script>

    <script id="lga_view_template" type="text/html">
        <% _.each(lga_view[sector], function(section){ %>
            <h2 class="sector_header">
                <%= section.name %>
            </h2>
            <table class="sector_table">
                <% _.each(section.indicators, function(indicator){ %>
                    <% if (_.isString(indicator)) { %>
                        <tr>
                            <td class="name">
                                <%= indicator_name(indicator) %>
                            </td>
                            <td class="value">
                                <%= format_value(lga[indicator]) %>
                            </td>
                        </tr>
                    <% } else { %>
                        <% var subsection = indicator; %>
                        <tr>
                            <td colspan="2">
                                <h3><%= subsection.name %></h3>
                            </td>
                        </tr>
                        <% _.each(subsection.indicators, function(indicator){ %>
                            <tr>
                                <td class="name">
                                    <%= indicator_name(indicator) %>
                                </td>
                                <td class="value">
                                    <%= format_value(lga[indicator]) %>
                                </td>
                            </tr>
                        <% }); %>
                    <% } %>
                <% }); %>
            </table>
        <% }); %>
    </script>

    <script id="pie_chart_selector_template" type="text/html">
        <option value="">Filter by Indicator</option>
        <% _.each(chart_indicators, function(indicator){ %>
            <option value="<%= indicator[0] %>">
                <%= indicator[1] %>
            </option>
        <% }); %>
    </script>

    <script id="map_view_template" type="text/html">
        <div class="map_view">
            <div class="map_legend_container">
                <select class="pie_chart_selector form-control"></select>
                <div class="map_legend">
                    <button type="button" class="close">&times;</button>
                    <canvas width="80" height="80"></canvas>
                    <div class="info"></div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
    </script>

    <script id="table_view_template" type="text/html">
        <% if (tables.length > 1){ %>
            <select class="filter_select facilities_table_selector form-control">
                <% _.each(tables, function(value, index){ %>
                    <option value="<%= index %>">
                        <%= value.name %>
                    </option>
                <% }); %>
            </select>
        <% } %>
        <div class="facilities_table_container">
            <table id="facilities_data_table" class="table table-striped table-hover table-condensed"></table>
        </div>
    </script>

    <script id="facility_modal_template" type="text/html">
        <div id="facility_modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">
                            <%= facility.facility_name || 'Water Point' %>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <a href="<%= facility.photo_url %>" target="_blank"><img src="<%= facility.photo_url_sml %>"></a>
                        <div class="info">
                            <% if (tables.length > 1){ %>
                                <select class="facility_table_selector form-control">
                                    <% _.each(tables, function(value, index){ %>
                                        <option value="<%= index %>">
                                            <%= value.name %>
                                        </option>
                                    <% }); %>
                                </select>
                            <% } %>
                            <table class="facility_table table table-striped table-hover table-condensed"></table>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="gap_sheet_template" type="text/html">
        <table class="gap_sheet_overview">
            <% _.each(gap_sheet.overview, function(indicator){ %>
                <tr>
                    <td class="name">
                        <%= indicator_name(indicator) %>
                    </td>
                    <td class="value">
                        <%= format_value(lga[indicator]) %>
                    </td>
                </tr>
            <% }); %>
        </table>

        <% _.each(gap_sheet.groups, function(group){ %>
            <table class="gap_sheet_group">
                <tr>
                    <th class="indicator">Indicator</th>
                    <th class="value">Target / Minimum Standard</th>
                    <th class="value">Number of Facilities With Input (Numerator)</th>
                    <th class="value">Total Applicable Facilities (Denominator)</th>
                    <th class="percent">Percentage</th>
                </tr>

                <% _.each(group.sections, function(section){ %>
                    <tr>
                        <td class="title" colspan="5"><%= section.title %></td>
                    </tr>
                    <% _.each(section.indicators, function(indicator){ %>
                        <tr class="border">
                            <td class="indicator">
                                <%= indicator_name(indicator) %>
                            </td>
                            <td class="value">
                                <%= indicator %>
                            </td>
                            <td class="value">
                                <%= lga[indicator + '_numerator'] %>
                            </td>
                            <td class="value">
                                <%= lga[indicator + '_denominator'] %>
                            </td>
                            <td class="percent">
                                <div class="circle">
                                    <%= lga[indicator + '_percentage'] + '%' %>
                                </div>
                            </td>
                        </tr>
                    <% }); %>
                <% }); %>
            </table>

            <table class="gap_sheet_legend">
                <tr>
                    <td>
                        <div class="circle green"></div>
                    </td>
                    <td class="percent">
                        <%= group.on_track %>
                    </td>
                    <td class="description">
                        On track to achieving target
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="circle yellow"></div>
                    </td>
                    <td class="percent">
                        <%= group.needs_attention %>
                    </td>
                    <td class="description">
                        Needs additional attention
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="circle red"></div>
                    </td>
                    <td class="percent">
                        <%= group.off_track %>
                    </td>
                    <td class="description">
                        Off track and needs urgent attention
                    </td>
                </tr>
            </table>
        <% }); %>
    </script>
{% endblock %}


