{% extends "base.html" %}


{% if baseline %}
    {% set active_page = 'baseline' %}
{% else %}
    {% set active_page = 'explore' %}
{% endif %}


{% block js %}
    <!--[if lt IE 9]>    
        <script src="/static/lib/excanvas_r3/excanvas.js"></script>
        <script>
            // Initialize canvas elements with excanvas
            (function(){
                var createElement = document.createElement;
                document.createElement = function(tagName){
                    var el = createElement(tagName);
                    if (tagName === 'canvas'){
                        G_vmlCanvasManager.initElement(el);
                    }
                    return el;
                };
            })();
        </script>
    <![endif]-->
    <script src="/static/explore.js"></script>
    <script>
        NMIS = {};
        NMIS.lgas_folder = '{{ lgas_folder }}';
        NMIS.lgas = {};
        NMIS.sorted_lgas = {{ sorted_lgas|safe }};
        NMIS.zones = {{ zones|safe }};
        NMIS.indicators = {{ indicators|safe }};
        NMIS.lga_overview = {{ lga_overview|safe }};
        NMIS.lga_view = {{ lga_view|safe }};
        NMIS.facilities_view = {{ facilities_view|safe }};
        NMIS.gap_sheet_view = {{ gap_sheet_view|safe }};
    </script>
{% endblock %}


{% block content %}
    <div class="content"></div>

    <script id="explore_header_template" type="text/html">
        <div class="container">
            <h1>
                <%= lga.lga %>, <%= lga.state %>
            </h1>

            <% if (active_view === 'gap_sheet'){ %>
                <div class="nav_sectors">
                    <a <% if (sector === 'education'){ %>class="active"<% } %>
                        href="#<%= lga.unique_lga %>/<%= active_view %>_education">
                        Education Gap Sheet
                    </a>
                    |
                    <a <% if (sector === 'health'){ %>class="active"<% } %>
                        href="#<%= lga.unique_lga %>/<%= active_view %>_health">
                        Health Gap Sheet
                    </a>
                </div>
            <% } else { %>
                <div class="nav_views">
                    <a <% if (active_view === 'lga'){ %>class="active"<% } %>
                        href="#<%= lga.unique_lga %>/lga_<%= sector %>">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        Overview
                    </a>
                    <a <% if (active_view === 'map'){ %>class="active"<% } %>
                        href="#<%= lga.unique_lga %>/map_<%= sector %>">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        Map
                    </a>
                    <a <% if (active_view === 'facilities'){ %>class="active"<% } %>
                        href="#<%= lga.unique_lga %>/facilities_<%= sector %>">
                        <span class="glyphicon glyphicon-home"></span>
                        Facilities
                    </a>
                </div>
                <div class="nav_sectors">
                    <a <% if (sector === 'overview'){ %>class="active"<% } %>
                        href="#<%= lga.unique_lga %>/<%= active_view %>_overview">
                        All Sectors
                    </a>
                    |
                    <a <% if (sector === 'health'){ %>class="active"<% } %>
                        href="#<%= lga.unique_lga %>/<%= active_view %>_health">
                        Health
                    </a>
                    |
                    <a <% if (sector === 'education'){ %>class="active"<% } %>
                        href="#<%= lga.unique_lga %>/<%= active_view %>_education">
                        Education
                    </a>
                    |
                    <a <% if (sector === 'water'){ %>class="active"<% } %>
                        href="#<%= lga.unique_lga %>/<%= active_view %>_water">
                        Water
                    </a>
                </div>
            <% } %>
        </div>
    </script>

    <script id="lga_search_template" type="text/html">
        <div class="loading">
            <div class="loading_bar"></div>
            <div class="loading_bar"></div>
            <div class="loading_bar"></div>
            <div style="clear:both"></div>
        </div>
        <select>
            <option value="">View an LGA</option>
            <% _.each(sorted_lgas, function(lga){ %>
                <option value="<%= lga[1] %>"><%= lga[0] %></option>
            <% }); %>
        </select>
    </script>

    <script id="index_template" type="text/html">
        <% if (active_view === 'gap_sheet'){ %>
            <h1 class="explore_title">Explore a Gap Sheet from the zones below</h1>
        <% } else { %>
            <h1 class="explore_title">Explore an LGA from the zones below</h1>
            {% if baseline %}
                <p class="explore_info">The 2012 Baseline Data is an archival
                    dataset derived from the baseline facility inventory 
                    conducted between 2010 and 2012. It is not inclusive of 
                    more recent data collection efforts, such as the 2014 
                    collection. To view the most up-to-date facility inventory
                    : <a class="explore_link" href="/explore">Explore Facilities</a>
                </p>
            {% else %}
                <a class="explore_link" href="/explore?baseline=1">or view 2012 Baseline Data</a>
            {% endif %}
        <% } %>

        <div id="zone_nav">
            <% _.each(zones, function(zone, i){ %>
                <div class="zone <% if (i == 5){ %>last<% } %>">
                    <img src="/static/images/zones/<%= zone[0] %>.png">
                    <h2><%= zone[0] %></h2>
                    <div class="state">
                        <% _.each(zone[1], function(state){ %>
                            <a class="state_title" href="#">
                                <%= state[0] %>
                            </a>
                            <ul class="lgas">
                                <% _.each(state[1], function(lga){ %>
                                    <li>
                                        <a  <% if (active_view === 'gap_sheet'){ %>
                                                href="#<%= lga[1] %>/gap_sheet_education">
                                            <% } else { %>
                                                href="#<%= lga[1] %>/lga_overview">
                                            <% } %>
                                            <%= lga[0] %>
                                        </a>
                                    </li>
                                <% }); %>
                            </ul>
                        <% }); %>
                    </div>
                </div>
            <% }); %>
            <div style="clear:both"></div>
        </div>
    </script>

    <script id="lga_overview_template" type="text/html">
        <div class="lga_profile">
            <div class="map_overview"></div>
            <table>
                <% _.each(lga_overview.overview, function(indicator){ %>
                    <tr>
                        <td class="name">
                            <%= indicator_name(indicator) %>
                        </td>
                        <td class="value">
                            <%= format_value(lga[indicator]) %>
                        </td>
                    </tr>
                <% }); %>
            </table>
            <div style="clear:both"></div>
        </div>

        <h2>Sectors</h2>
        
       <p class="facility_sub"> 
            Below are data from the baseline facility surveys.
        </p>
        
        <% _.each(lga_overview.facility_overview, function(category, i){ %>
            <div class="sector n<%- i %>">
                <h3>
                    <%= category.name %>
                </h3>
                <table>
                    <tbody>
                        <% _.each(category.indicators, function(indicator){ %>
                            <tr>
                                <td class="name">
                                    <%= indicator_name(indicator) %>
                                </td>
                                <td class="value">
                                    <%= format_value(lga[indicator]) %>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        <% }); %>
        <div style="clear:both"></div>

        <h2>MDG Status</h2>

        <em>
            Below are data collected from HNLSS (2008-2009), DHS (2008), School Census (2005), HSS (2005).
        </em>

        <% _.each(lga_overview.mdg_status, function(mdg){ %>        
            <h3>
                <%= mdg.header %>
            </h3>
            <table class="mdgs_table">
                <% _.each(mdg.indicators, function(indicator){ %>
                    <tr>
                        <td class="name">
                            <%= indicator_name(indicator) %>
                        </td>
                        <td class="value">
                            <%= format_value(lga[indicator]) %>
                        </td>
                    </tr>
                <% }); %>
            </table>
        <% }); %>
        <p>* This data is disaggregated at the state level</p>
    </script>

    <script id="lga_view_template" type="text/html">
        <% _.each(lga_view[sector], function(section){ %>
            <h2 class="sector_header">
                <%= section.name %>
            </h2>
            <table class="sector_table">
                <% _.each(section.indicators, function(indicator){ %>
                    <% if (_.isString(indicator)) { %>
                        <tr>
                            <td class="name">
                                <%= indicator_name(indicator) %>
                            </td>
                            <td class="value">
                                <%= format_value(lga[indicator]) %>
                            </td>
                        </tr>
                    <% } else { %>
                        <% var subsection = indicator; %>
                        <tr>
                            <td colspan="2">
                                <h3><%= subsection.name %></h3>
                            </td>
                        </tr>
                        <% _.each(subsection.indicators, function(indicator){ %>
                            <tr>
                                <td class="name">
                                    <%= indicator_name(indicator) %>
                                </td>
                                <td class="value">
                                    <%= format_value(lga[indicator]) %>
                                </td>
                            </tr>
                        <% }); %>
                    <% } %>
                <% }); %>
            </table>
        <% }); %>
    </script>

    <script id="pie_chart_selector_template" type="text/html">
        <option value="">Filter by Indicator</option>
        <% _.each(chart_indicators, function(indicator){ %>
            <option value="<%= indicator[0] %>">
                <%= indicator[1] %>
            </option>
        <% }); %>
    </script>

    <script id="map_view_template" type="text/html">
        <div class="map_view">
            <div class="map_legend_container">
                <select class="pie_chart_selector form-control"></select>
                <div class="map_legend">
                    <button type="button" class="close">&times;</button>
                    <canvas width="80" height="80"></canvas>
                    <div class="info"></div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
    </script>

    <script id="facilities_view_template" type="text/html">
        <% if (tables.length > 1){ %>
            <select class="filter_select facilities_table_selector form-control">
                <% _.each(tables, function(value, index){ %>
                    <option value="<%= index %>">
                        <%= value.name %>
                    </option>
                <% }); %>
            </select>
        <% } %>
        <div class="facilities_table_container">
            <table id="facilities_data_table" class="table table-striped table-hover table-condensed"></table>
        </div>
    </script>

    <script id="facility_modal_template" type="text/html">
        <div id="facility_modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">
                            <%= facility.facility_name || 'Water Point' %>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <a href="http://nmisfac.s3.amazonaws.com/original/<%= facility.formhub_photo_id %>" target="_blank">
                            <img src="http://nmisfac.s3.amazonaws.com/small/<%= facility.formhub_photo_id %>">
                        </a>
                        <div class="info">
                            <% if (tables.length > 1){ %>
                                <select class="facility_table_selector form-control">
                                    <% _.each(tables, function(value, index){ %>
                                        <option value="<%= index %>">
                                            <%= value.name %>
                                        </option>
                                    <% }); %>
                                </select>
                            <% } %>
                            <table class="facility_table table table-striped table-hover table-condensed"></table>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="walkthrough_modal_template" type="text/html">
        <div class="walkthrough_modal">
            <span class="glyphicon glyphicon-remove-circle walkthrough_close"></span>
            <div class="body">
                <%= body %>
            </div>
            <div class="walkthrough_nav">
                <div class="walkthrough_back" data-index="<%= index - 1 %>">Back</div>
                <div class="dots">
                    <div class="dot" data-index="1"></div>
                    <div class="dot" data-index="2"></div>
                    <div class="dot" data-index="3"></div>
                    <div class="dot" data-index="4"></div>
                    <div class="dot" data-index="5"></div>
                    <div class="dot" data-index="6"></div>
                </div>
                <div class="walkthrough_next" data-index="<%= index + 1 %>">Next</div>
                <div class="clearfix"></div>
            </div>
        </div>
    </script>

    <script id="gap_sheet_template" type="text/html">
        <table class="gap_sheet_overview">
            <% _.each(gap_sheet.overview, function(indicator){ %>
                <tr>
                    <td class="name">
                        <%= indicator_name(indicator) %>
                    </td>
                    <td class="value">
                        <%= format_value(lga[indicator]) %>
                    </td>
                </tr>
            <% }); %>
        </table>

        <% _.each(gap_sheet.groups, function(group){ %>
            <% var on_track = parseInt(group.on_track.replace(/[^\d]/g, '')); %>
            <% var off_track = parseInt(group.off_track.replace(/[^\d]/g, '')); %>

            <table class="gap_sheet_group">
                <tr>
                    <th class="indicator">Indicator</th>
                    <th class="value">Target / Minimum Standard</th>
                    <th class="value">Number of Facilities With Input (Numerator)</th>
                    <th class="value">Total Applicable Facilities (Denominator)</th>
                    <th class="percent">Percentage</th>
                </tr>

                <% _.each(group.sections, function(section){ %>
                    <tr>
                        <td class="title" colspan="5"><%= section.title %></td>
                    </tr>
                    <% _.each(section.indicators, function(indicator){ %>
                        <tr class="border">
                            <td class="indicator">
                                <%= indicator_name(indicator) %>
                            </td>
                            <td class="value">
                                <%= indicator_description(indicator) %>
                            </td>
                            <td class="value">
                                <%= lga[indicator + '_numerator'] %>
                            </td>
                            <td class="value">
                                <%= lga[indicator + '_denominator'] %>
                            </td>
                            <td class="percent">
                                <% var percent = lga[indicator + '_percent']; %>
                                <div class="circle
                                    <% if (percent > on_track){ %>
                                        green
                                    <% } else if (percent < off_track){ %>
                                        red
                                    <% } else { %>
                                        yellow
                                    <% } %>">
                                    <% if (_.isNumber(percent)){ %>
                                        <%= percent + '%' %>
                                    <% } else { %>                                        
                                        N/A
                                    <% } %>
                                </div>
                            </td>
                        </tr>
                    <% }); %>
                <% }); %>
            </table>

            <table class="gap_sheet_legend">
                <tr>
                    <td>
                        <div class="circle green"></div>
                    </td>
                    <td class="percent">
                        <%= group.on_track %>
                    </td>
                    <td class="description">
                        On track to achieving target
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="circle yellow"></div>
                    </td>
                    <td class="percent">
                        <%= group.needs_attention %>
                    </td>
                    <td class="description">
                        Needs additional attention
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="circle red"></div>
                    </td>
                    <td class="percent">
                        <%= group.off_track %>
                    </td>
                    <td class="description">
                        Off track and needs urgent attention
                    </td>
                </tr>
            </table>
            <div style="clear:both"></div>
        <% }); %>
    </script>
{% endblock %}


