{% extends "base.html" %}


{% block css %}
    <style>
        body {
            background-image: url(/static/images/front_page.jpg);
            background-position: center 115px;
            background-repeat: no-repeat;
        }
        #content .container {
            background: transparent;
        }
    </style>
{% endblock %}


{% block content %}
    <div id="index_content">
        <div class="intro">
            <div class="commissioned">
                Commissioned by The Office of the Senior Special Assistant to the President on MDGs
            </div>

            <h1>Nigeria’s health, education and water facility inventory</h1>
            
            <div class="about">
                Explore data collected to inform policy and planning for poverty reduction.
            </div>

            <div class="stats">
                <div class="stat">
                    <div class="img"></div>
                    <div class="num">26,000</div>
                    <div class="facilities">Health Facilities</div>
                </div>
                <div class="stat mid">
                    <div class="img"></div>
                    <div class="num">73,000</div>
                    <div class="facilities">Education Facilities</div>
                </div>
                <div class="stat">
                    <div class="img"></div>
                    <div class="num">132,000</div>
                    <div class="facilities">Water Facilities</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <a class="explore_btn btn" href="/explore">Explore Facilities</a>

        <a class="learn" href="/planning">or learn more about the process</a>

        <p class="caption">Augie, Kebbi</p>

        <div class="sponsors">
            <img src="/static/images/mdgs_logo.png" alt="Nigeria MDGs Logo">
            <img src="/static/images/ei_logo.png" alt="Earth Institute Logo">
        </div>
    </div>
{% endblock %}



