{% extends "base.html" %}


{% block title %}
    <title>Nigeria MDG Information System</title>
{% endblock %}


{% block css %}
    <style>
        body {
            background: url(/static/images/front_page.png) center 115px no-repeat;
        }
        #content .container {
            background: transparent;
        }
    </style>
{% endblock %}


{% block content %}
    <div id="index_content">
        <div class="intro">
            <h1>Nigeria’s health, water and education facility inventory</h1>
            <div class="about">
                An updatable public portal designed by The Office of The Senior Special Assistant to The President on MDGs to bolster the use of data in informing policy for poverty reduction through local planning.
            </div>
        </div>
        <div>
            <a class="btn btn-warning explore" href="/explore">Explore Facilities</a>
            <a class="btn btn-default download" href="/download">Download Data</a>
        </div>
        <div class="caption">
            <p>Augie, Kebbi</p>
        </div>
        <div class="sponsors">
            <img src="/static/images/mdgs_logo.png" alt="Nigeria MDGs Logo">
            <img src="/static/images/ei_logo.png" alt="Earth Institute Logo">
            <img src="/static/images/dfid_logo.png" alt="DFID Logo">
        </div>
    </div>
{% endblock %}



