{% extends "base.html" %}

{%block nav_mdgs %}active{% endblock %}

{% block css %}
    <link href="/static/leaflet/leaflet.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block js %}
    <script src="/static/leaflet/leaflet.js"></script>
    <script src='//api.tiles.mapbox.com/mapbox.js/v1.4.0/mapbox.js'></script>     
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.4.0/mapbox.css' rel='stylesheet' />
    <script src="/static/js/new_mdgs.js"></script>

{% endblock %}

{% block content %}
    <div class='country-view'>
        <div class='left-panel pull-left'>
            <h1>Nigeria's progress on the MDGs</h1>
            <div class='mdg-map-nav'></div>
        </div>
        <div class='right-panel pull-right'>
            please select your mdg goal
            <div class='mdg-map pull-right' id='mdg-map'></div>
        </div>
    </div>
{% endblock %}
