{% extends "base.html" %}


{% set active_page = 'mdgs' %}


{% block js %}
    <script>
        (function(){
            NMIS = {};
            NMIS.indicators = {{ load_file('indicators.json')|safe }};
            NMIS.mdgs_view = {{ load_file('mdgs_view.json')|safe }};

            
            $(function(){
                // Initialize Map
                var map_div = $('#mdg_map')[0];
                var mapZoom = 6;
                //var lat_lng = new L.LatLng(9.16718, 7.53662);
                var sw = new L.LatLng(4.039617826768437, 1.47216796875);
                var ne = new L.LatLng(14.221788628397572, 14.897460937499998);
                var country_bounds = new L.LatLngBounds(sw, ne);
                var map = new L.Map(map_div,{
                        maxBounds: country_bounds
                    }).fitBounds(country_bounds,{maxZoom:11});
                var baseLayer = createLayer('nigeria_base', 6, 9);
                baseLayer.addTo(map);
                map_div._map = map;
                map_div._mapLayers = {};
                map_div._currentLayer = {};
                window.map = map;


                // Initialize Select box
                var template = $('#mdgs_view_template').html();
                var html = _.template(template, {
                    mdg_goals: NMIS.mdgs_view,
                    indicators: NMIS.indicators
                });
                $('#mdg_selector').html(html)
                    .change(function(){
                        var label = $(this)
                            .find(':selected')
                            .parent()
                            .attr('label');
                        addLayer(map_div, this.value);
                        $('.mdg_title').text(label);
                        $('.mdg_description').text(
                            NMIS.indicators[this.value].description);
                    }).change();
            });
            
            function createLayer(indicator, minZoom, maxZoom) {
                var mapboxName = 'modilabs.' + indicator;
                var tileLayer = new L.mapbox.tileLayer(mapboxName, {
                    minZoom: minZoom,
                    maxZoom: maxZoom,
                });
                return tileLayer;
            }

            function addLayer(map_div, value) {
                var map = map_div._map;
                var currentLayer = map_div._currentLayer;
                var mapLayers = map_div._mapLayers

                if (map_div._currentLayer.layer){
                    // Remove current layer
                    currentLayer.legend.removeFrom(map);
                    map.removeLayer(currentLayer.layer);
                }

                if (!map_div._mapLayers[value]) {
                    // Create layer
                    var legend = L.mapbox.legendControl();
                    var mdgsLayer = createLayer(value, 6, 9);
                    mdgsLayer.on('ready', function(){
                        var tileJSON = mdgsLayer.getTileJSON();
                        legend.addLegend(tileJSON.legend);
                    });
                    mapLayers[value] = {layer: mdgsLayer, legend: legend};
                }

                // Add layer to map
                map_div._currentLayer = mapLayers[value];
                map.addLayer(mapLayers[value].layer);
                mapLayers[value].legend.addTo(map);
            }
        })();
    </script>
{% endblock %}


{% block content %}
    <h1>Nigeria's progress on the MDGs</h1>

    <div class="mdg_panel">
        <div class="mdg-map-nav pull-left">
            <select id="mdg_selector" class="form-control" placeholder="Please select an MDG goal">
            </select>
            <h4 class="mdg_title"></h4>
            <div class="mdg_description"></div>
        </div>
    </div>
    <div id="mdg_map"></div>

    <script id="mdgs_view_template" type="text/html">
        <% _.each(mdg_goals, function(goal){ %>
            <optgroup label="<%= goal.name %>">
                <% _.each(goal.indicators, function(indicator){ %>
                    <option value="<%= indicator %>">
                        <%= indicators[indicator].name %>
                    </option>
                <% }); %>
            </optgroup>
        <% }); %>
    </script>
{% endblock %}
