{% extends "base.html" %}


{% set active_page = 'planning' %}


{% block content %}
    <div class="row">
        <div class="col-md-4 planning_toplevel">
            <h2>Gap Sheets</h2>
            <div class="planning_sublevel">
                <p>The Gap Sheets identify differences between available LGA data to National standards in health and education.<p>            
                <p>
                    <a href="">Editable Education Gap Sheet [PDF]</a>
                </p>
                <p>
                    <a href="">Editable Health Gap Sheet [PDF]</a>
                </p>
            </div>

            <br>
            
            <h2>Indicator Definitions</h2>
            <div class="planning_sublevel">
                <p>These documents contain definitions for terms found in the Explore Facilities, 2012 Baseline Data, and Gap Sheets. They match up to the surveys and indicators from the NMIS-related data collection efforts.</p>
                <p>
                    <a href="">Education Indicators [PDF]</a>
                </p>
                <p>
                    <a href="">Health Indicators [PDF]</a>
                </p>
                <p>
                    <a href="">Water Indicators [PDF]</a>
                </p>
            </div>
        </div>
        <div class="col-md-4 planning_toplevel">
            <h2>Planning Packages</h2>
            <div class="planning_sublevel">
                <p>The EI team developed a set of suggested interventions based on global best practice that could be applied to the key challenges faced by the different sectors. Depending contextual peculiarities they are also proven to enhance MDG induces.<p>
                <p>
                    <a href="">Education Package [PDF]</a>
                </p>
                <p>
                    <a href="">Health Package [PDF]</a>
                </p>
            </div>
        </div>
        <div class="col-md-4 planning_toplevel">
            <h2>Site Guides</h2>
            <div class="planning-sublevel">
                <p>
                    <a href="/explore#walkthrough">Walkthrough Tour[In Site]</a>
                </p>
                <p>
                    View tips and tools for exploring NMIS data
                </p>
                <p>
                    <a href="">Education Specific Guide [PDF]</a>
                </p>
                <p>
                    <a href="">Health Specific Guide [PDF]</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}


