{% extends "base.html" %}


{% set active_page = 'planning' %}


{% block content %}
    <h1>Planning Tools</h1>

    <div class="row">
        <div class="col-md-4 planning_toplevel">
            <h2>Gap Sheets</h2>
            <div class="planning_sublevel">
                <p>The Gap Sheets identify differences between available LGA data to National standards in health and education.<p>            
                <p>
                    <a href="/static/planning/gap_sheet_education.xlsx">Editable Education Gap Sheet [XLS]</a>
                </p>
                <p>
                    <a href="/static/planning/gap_sheet_health.xlsx">Editable Health Gap Sheet [XLS]</a>
                </p>
            </div>

            <br>
            
            <h2>Indicator Definitions</h2>
            <div class="planning_sublevel">
                <p>These documents contain definitions for terms found in the Explore Facilities, 2012 Baseline Data, and Gap Sheets. They match up to the surveys and indicators from the NMIS-related data collection efforts.</p>
                <p>
                    <a href="/static/planning/indicators_education.pdf">Education Indicators [PDF]</a>
                </p>
                <p>
                    <a href="/static/planning/indicators_health.pdf">Health Indicators [PDF]</a>
                </p>
                <p>
                    <a href="/static/planning/indicators_water.pdf">Water Indicators [PDF]</a>
                </p>

                <p>
                    <a href="/static/planning/indicators_education_baseline.pdf">Baseline Education Indicators [PDF]</a>
                </p>
                <p>
                    <a href="/static/planning/indicators_health_baseline.pdf">Baseline Health Indicators [PDF]</a>
                </p>

                <p>
                    <a href="/static/planning/indicators_education_gap_sheet.pdf">Gap Sheet Education Indicators [PDF]</a>
                </p>
                <p>
                    <a href="/static/planning/indicators_health_gap_sheet.pdf">Gap Sheet Health Indicators [PDF]</a>
                </p>
            </div>
        </div>
        <div class="col-md-4 planning_toplevel">
            <h2>Planning Packages</h2>
            <div class="planning_sublevel">
                <p>The EI team developed a set of suggested interventions based on global best practice that could be applied to the key challenges faced by the different sectors. Depending contextual peculiarities they are also proven to enhance MDG indices.<p>
                <p>
                    <a href="/static/planning/packages_education.pdf">Education Package [PDF]</a>
                </p>
                <p>
                    <a href="/static/planning/packages_health.pdf">Health Package [PDF]</a>
                </p>
            </div>
        </div>
        <div class="col-md-4 planning_toplevel">
            <h2>Site Guides</h2>
            <div class="planning-sublevel">
                <p>
                    <a href="/explore#walkthrough">Walkthrough Tour[In Site]</a>
                </p>
                <p>
                    View tips and tools for exploring NMIS data
                </p>
                <p>
                    <a href="/static/planning/user_guide_education.pdf">Education Specific Guide [PDF]</a>
                </p>
                <p>
                    <a href="/static/planning/user_guide_health.pdf">Health Specific Guide [PDF]</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}


