{% extends "base.html" %}

{% set active_page = 'planning' %}

{% block content %}

<div class="row">
    <div class="col-md-4 planning-toplevel">
        <h2>Site Guides</h2>
        <div class="planning-sublevel">
            <div class="title">Walkthrough Tour</div>
            <p>Wayfarers squid fashion axe, flannel put a bird on it irony direct trade Blue Bottle Vice lomo distillery dreamcatcher ennui wolf forage. Letterpress <p>
        </div>
        <div class="planning-sublevel">
            <div class="title">Education Site Guide</div>
            <p>Wayfarers squid fashion axe, flannel put a bird on it irony direct trade Blue Bottle Vice lomo distillery dreamcatcher ennui wolf forage. Letterpress <p>
        </div>
        <div class="planning-sublevel">
            <div class="title">Health Site Guide</div>
            <p>Wayfarers squid fashion axe, flannel put a bird on it irony direct trade Blue Bottle Vice lomo distillery dreamcatcher ennui wolf forage. Letterpress <p>
        </div>
    </div>
    <div class="col-md-4 planning-toplevel">
        <h2>Proposal Writing</h2>
        <div class="planning-sublevel">
            <div class="title">Walkthrough Tour</div>
            <p>Wayfarers squid fashion axe, flannel put a bird on it irony direct trade Blue Bottle Vice lomo distillery dreamcatcher ennui wolf forage. Letterpress <p>
        </div>
        <div class="planning-sublevel">
            <div class="title">Education Site Guide</div>
            <p>Wayfarers squid fashion axe, flannel put a bird on it irony direct trade Blue Bottle Vice lomo distillery dreamcatcher ennui wolf forage. Letterpress <p>
        </div>
        <div class="planning-sublevel">
            <div class="title">Health Site Guide</div>
            <p>Wayfarers squid fashion axe, flannel put a bird on it irony direct trade Blue Bottle Vice lomo distillery dreamcatcher ennui wolf forage. Letterpress <p>
        </div>
    </div>
    <div class="col-md-4 planning-toplevel">
        <h2>Other Resources</h2>
        <div class="planning-sublevel">
            <div class="title">Walkthrough Tour</div>
            <p>Wayfarers squid fashion axe, flannel put a bird on it irony direct trade Blue Bottle Vice lomo distillery dreamcatcher ennui wolf forage. Letterpress <p>
        </div>
        <div class="planning-sublevel">
            <div class="title">Education Site Guide</div>
            <p>Wayfarers squid fashion axe, flannel put a bird on it irony direct trade Blue Bottle Vice lomo distillery dreamcatcher ennui wolf forage. Letterpress <p>
        </div>
    </div>
</div>

{% endblock %}
