ul.submenu {
	position: absolute;
	top: 35px;
	list-style-type: none;
	margin: 0;
	width: 200px;
}
div.facility-display-wrap {
	padding: 0 20px;
}
td.highlighted, th.highlighted {
	background-color: rgba(0,0,0,0.05);
}
h3.bar-title {
	position: absolute;
	left: 0;
	top: 0;
	color: #aaa;
	font-size: 16px;
	margin: 5px 20px;
}
div.cwrap {
	padding: 0 20px;
}
h1.facilities-content-title {
	color: #444;
	font-size: 22px;
	margin: 5px 0;
}
p.facility-sectors-navigation {
	margin: 4px 0;
}
div.content {
	background-color: #fafafa;
}
div.display-window-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #fefefe;
}
div.display-window-wrap {
	position: relative;
}
/* div.embedded, div.overlay {
	display: none;
} */
div.indicator-feature div.overlay-wrap {
	position: absolute;
	top: -158px;
	background-color: #fff;
	border: 1px solid black;
	border-radius: 3px;
	left: 34px;
	opacity: 0.9;
	overflow: hidden;
}
div.indicator-feature div.overlay-wrap div.overlay {
    position: relative;
    padding: 0 20px;
    height: 134px;
	width: 294px;
/*  background-image: url('/static/piechart_tmp.png');*/
}
div.indicator-feature h3.overlay-header {
    width: 282px;
    border: 1px solid #ddd;
    border-width: 0 0 1px;
    font-family: Helvetica;
    font-size: 18px;
    color: #606060;
    line-height: 28px;
}

div.indicator-feature div.overlay a.close span {
    display: none;
}
div.indicator-feature div.overlay a.close {
    opacity: 1;
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    width: 18px;
    height: 18px;
    background-image: url('/static/images/icons/x_close.png');
}
div.indicator-feature div.embedded {
	margin: 12px 0 12px;
	border: 1px solid #ddd;
}
div.raph-text {
    font-family: Helvetica;
    position: absolute;
    top: 38px;
    left: 92px;
    width: 229px;
    height: 94px;
    color: #6a6a6a;
}
div.raph-text p {
    line-height: 14px;
    font-size: 12px;
}
div.raph-circle {
    width: 70px;
    height: 70px;
    margin: 13px 0 0 -6px;
}
p.facility-sectors-navigation {
	margin: 3px 0 10px;
}
p.facility-sectors-navigation a.sub-sector-link {
	padding: 3px 6px;
	white-space: nowrap;
}
p.facility-sectors-navigation a.sub-sector-link.active {
	font-weight: bold;
	text-decoration: underline;
}
