@import "nmis/nmis_variables.less";
@import "bootstrap/lib/bootstrap.less";
@import "nmis/mdg_tables.less";
@import "nmis/lga_profiles.less";
@import "nmis/hover_overlay.less";

body {
	background-image: url('/static/images/bg-shade-repeat.png');
}
div.container {
	position: relative;
}
h2.some-lpadding {
	padding: 0 0 0 12px;
}


@import "nmis/header.less";

@import "nmis/display_window.less";

div.content {
  background-color: #fafafa;
  padding-bottom: 14px;
}

@import "nmis/facility_popup.less";

//@import "nmis/facility_tables.less";
p.facility-sectors-navigation {
	margin: 3px 0 10px;
	a.sub-sector-link {
		padding: 3px 6px;
		white-space: nowrap;
	}
	a.sub-sector-link.active {
		font-weight: bold;
		text-decoration: underline;
	}
}

div.cwrap {
	padding: 0 20px;
}

/* indicator feature (popup with pie chart, etc)
*/
div.indicator-feature {
  div.overlay-wrap {
    position: absolute;
    top: -158px;
    background-color: #fff;
    border: 1px solid #444;
    border-radius: 3px;
    left: 34px;
    opacity: 0.93;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    div.overlay {
      position: relative;
      padding: 0 20px;
      height: 134px;
      width: 294px;
      a.close {
        opacity: 1;
        position: absolute;
        top: 5px;
        right: 5px;
        display: block;
        width: 18px;
        height: 18px;
        background-image: url('/static/images/icons/x_close.png');
        span {
          display: none;
        }
      }
    }
  }
  h3.overlay-header {
    width: 282px;
    border: 1px solid #ddd;
    border-width: 0 0 1px;
    font-family: Helvetica;
    font-size: 18px;
    color: #606060;
    line-height: 28px;
  }
  div.embedded {
    margin: 12px 0 12px;
    border: 1px solid #ddd;
  }
}

/*
  main page zone / state / lga navigation
*/
@import "nmis/zone_state_lga_nav.less";

/*
Map loading message
*/
.map-loading-message {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 300px;
	border: 1px solid #aaa;
	padding: 4px 9px;
	border-radius: 6px;
	background-color: #fafafa;
}

/*
   review below:
*/
div.display-window-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #fefefe;
}
div.display-window-wrap {
	position: relative;
}

div.dataTables_wrapper {
	div.dataTables_filter {
		float: right;
		position: relative;
		width: 290px;
		height: 45px;
		label {
			font-style: italic;
			text-align: left;
			height: 40px;
			width: 290px;
			margin: 0;
			padding: 0;
			line-height: 30px;
			font-size: 13px;
			input {
				position: absolute;
				right: 1px;
				top: 1px;
				font-size: 12px;
				line-height: 12px;
				height: 14px;
			}
		}
	}
	table {
		font-size: 14px;
		tbody {
			td {
				padding: 1px 6px;
				text-align: center;
				border-bottom: 1px dotted #eee;
			}
		}
		thead {
			th {
				padding: 2px 0;
				font-weight: bold;
				color: #656565;
			}
			.sorting_desc {
				background-color: rgba(20,20,20,0.2);
			}
			.sorting_asc {
				background-color: rgba(20,20,20,0.1);
			}
		}
		td:first-child {
			padding: 1px;
			text-align: left;
		}
		td.sorting_1 {
			background-color: #eee;
		}
	}
	.dataTables_info {
		color: #555;
		font-size: 11px;
		padding: 3px 1px;
		font-style: italic;
	}
}
.facility-table-wrap {
	margin: 4px 12px;
	padding: 5px;
}

/* mdg legend */
.mn-legend {
    position: absolute;
    bottom: 10px;
    left: -106px;
    width: 96px;
    background-color: #fff;
    border: 1px solid #555;
    border-radius: 3px;
    padding: 2px 4px;
    display: none;
	p {
		margin: 0;
	    font-size: 11px;
	    color: #333;
	}
	span.color-span {
	    display: block;
	    width: 30px;
	}
	table {
	    border: 0 none;
	    margin: 0;
		td {
		    border: 0 none;
		    padding: 2px 1px;
		}
	}
}
.mn-legend.open {
    display: block;
}


/*--
twitter bootstrap datatables integration
--*/
div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}

div.dataTables_length select {
    width: 75px;
}

div.dataTables_filter label {
    float: right;
    width: 460px;
}

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

table.bs {
    margin: 1em 0;
    clear: both;
}


/*
legacy CSS
*/

/* bootstrap mods */
@import "nmis/legacy/bootstrap_mods.less";

/* main.css */
@import "nmis/legacy/main.less";
