@import "bootstrap/lib/bootstrap.less";
@import "nmis/mdg_tables.less";
@import "nmis/lga_profiles.less";

body {
	background-image: url('/static/images/bg-shade-repeat.png');
}
div.container {
	position: relative;
}
h2.some-lpadding {
	padding: 0 0 0 12px;
}


@import "nmis/header.less";

//@import "nmis/display_window.less"
h3.bar-title {
	position: absolute;
	left: 0;
	top: 0;
	color: #aaa;
	font-size: 16px;
	margin: 5px 20px;
}
div.display-window-wrap {
	position: relative;
}
div.display-window-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #fefefe;
}
div.content {
	background-color: #fafafa;
}
div.display-window-content.size-minimized div.facility-display-wrap {
	display: none;
}
div.facility-display-wrap {
	padding: 0 20px;
}

//@import "nmis/facility_tables.less";
p.facility-sectors-navigation {
	margin: 3px 0 10px;
	a.sub-sector-link {
		padding: 3px 6px;
		white-space: nowrap;
	}
	a.sub-sector-link.active {
		font-weight: bold;
		text-decoration: underline;
	}
}

div.cwrap {
	padding: 0 20px;
}
