@import "bootstrap/lib/bootstrap.less";
@import "nmis/mdg_tables.less";
@import "nmis/lga_profiles.less";

body {
	background-image: url('/static/images/bg-shade-repeat.png');
}
div.container {
	position: relative;
}
h2.some-lpadding {
	padding: 0 0 0 12px;
}


@import "nmis/header.less";

//@import "nmis/display_window.less"
h3.bar-title {
	position: absolute;
	left: 0;
	top: 0;
	color: #aaa;
	font-size: 16px;
	margin: 5px 20px;
}
div.display-window-wrap {
	position: relative;
}
div.display-window-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #fefefe;
}
div.content {
	background-color: #fafafa;
}
div.display-window-content.size-minimized div.facility-display-wrap {
	display: none;
}
div.facility-display-wrap {
	padding: 0 20px;
}

//@import "nmis/facility_tables.less";
p.facility-sectors-navigation {
	margin: 3px 0 10px;
	a.sub-sector-link {
		padding: 3px 6px;
		white-space: nowrap;
	}
	a.sub-sector-link.active {
		font-weight: bold;
		text-decoration: underline;
	}
}

div.cwrap {
	padding: 0 20px;
}

div.indicator-feature div.overlay-wrap {
	position: absolute;
	top: -158px;
	background-color: #fff;
	border: 1px solid #444;
	border-radius: 3px;
	left: 34px;
	opacity: 0.93;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}

div.indicator-feature div.overlay-wrap div.overlay {
    position: relative;
    padding: 0 20px;
    height: 134px;
	width: 294px;
}
div.indicator-feature h3.overlay-header {
    width: 282px;
    border: 1px solid #ddd;
    border-width: 0 0 1px;
    font-family: Helvetica;
    font-size: 18px;
    color: #606060;
    line-height: 28px;
}

div.indicator-feature div.overlay a.close span {
    display: none;
}
div.indicator-feature div.overlay a.close {
    opacity: 1;
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    width: 18px;
    height: 18px;
    background-image: url('/static/images/icons/x_close.png');
}
div.indicator-feature div.embedded {
	margin: 12px 0 12px;
	border: 1px solid #ddd;
}
/*
   review below:
*/
div.display-window-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #fefefe;
}
div.display-window-wrap {
	position: relative;
}