h3.mdg-underlined-title {
	border-bottom: 2px solid black;
	margin-bottom: 2px;
	padding: 0 13px;
	line-height: 25px;
	font-size: 16px;
}

table.mdg-table {
	border: 0 none;
	font-size: 15px;
	line-height: 17px;
	td {
		padding: 8px 12px;
	}
	.indheader {
		padding: 12px 6px 4px;
		border-bottom: 2px solid #666;
		font-weight: bold;
		text-align: left;
	}
	.flush-right {
		text-align: right;
	}
	td.data {
		text-align: right;
	}
	td.subgoal {
		color: #666666;
		text-align: right;
		font-size: 14px;
	}
	td.mdg_header, th.mdg_header {
		border: 1px solid #666666;
		border-width: 0 0 2px 0;
		font-weight: bold;
		padding: 12px 6px 4px;
	}
	td.bb {
		border-bottom: 1px solid #eee;
	}
	td.empty {
		border: 0 none;
	}
	td.mdg_header.year {
		text-align: center;
	}
	td.empty-first {
		width: 20px;
	}
	td.indvalue {
		text-align: right;
		width: 120px;
	}
}

table.mdg-table.f {
    margin: 0 auto;
}

div#mdg-table-wrap {
    width: 680px;
    border: 1px solid #999;
	border: 0 none;
    padding: 8px 20px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 6px;
}